[2016-03-22 12:47] sertugkaya opened #3 "AWS discovery does not have member port configuration for clients"
Currently, with version 3.6 using aws discovery, clients only try to connect port 5701, 5702 and 5703. If one configures members on different ports than these, clients are not able to find members on aws.

[2016-04-29 15:58] hoegertn opened #4 "Why don't you use the AWS SDK?"
Is there a special reason why you do not use the SDK?

I think credentials management and API calls would be a lot easier. This would lead to more advanced discovery mechanisms based on AWS.

[2016-05-02 07:12] mesutcelik commented on #4
Hi @hoegertn ,

Thanks for the question.

It is mainly because Hazelcast does always prefer having no external dependency in their modules.
Additionally, this module is mostly in maintenance mode nowadays so we don't see any reason for such refactoring.

For Hazelcast related questions, [Hazelcast Google Groups](https://groups.google.com/forum/#!forum/hazelcast) is the best place to watch.

I am c

[2016-05-02 07:12] #4 closed

[2016-05-02 07:14] hoegertn commented on #4
What do you mean by "maintenance mode"? What is the new way to cluster on AWS?

[2016-05-02 07:25] mesutcelik commented on #4
`maintenance mode` means that we don't add features regularly to this module.

You can check [this documentation](http://docs.hazelcast.org/docs/latest/manual/html-single/#discovering-members-within-ec2-cloud) how to form cluster on AWS with hazelcast 3.6.x

`hazelcast-aws` is a new repository for the old `hazelcast-cloud` module. The only change is the name of the module in the new repository.  `

[2016-05-02 07:31] kobalski commented on #4
@hoegertn You can also implement your custom discovery strategy according to your needs with the help of discovery spi. Please  check out the docs : http://docs.hazelcast.org/docs/3.6/manual/html-single/index.html#discovery-spi. You can find reference implementations such as jclouds and azure under hazelcast repo.
https://github.com/hazelcast/hazelcast-jclouds
https://github.com/hazelcast/hazelcas

[2016-05-02 08:19] hoegertn commented on #4
The idea is to discover cluster instances by adding all members of the autoscaling group the instance is a member of. I will implement it as a discovery strategy. Thanks for the hint.

[2016-06-03 09:17] hasancelik opened #7 "TcpIpJoinerOverAWSTest.testJoinerCreation"
[code]

https://hazelcast-l337.ci.cloudbees.com/view/Plugins/job/AWS-master/6/com.hazelcast$hazelcast-aws/testReport/com.hazelcast.cluster.impl/TcpIpJoinerOverAWSTest/testJoinerCreation/

[2016-08-30 05:52] Stephan202 opened #8 "Release version 3.7"
After some digging around it is my understanding that:

1. This module is to replace `hazelcast-cloud`.
2. This module has not yet been released under its new name `hazelcast-aws`.
3. The unreleased version of the code matches (nearly?) completely `hazelcast-cloud:3.6.5`.

I'd like to ask you to release `hazelcast-aws:3.7` anyway. This way it's much clearer for users how to upgrade from Hazelcast

[2016-08-30 05:58] Stephan202 commented on #8
NB: The `artifactId` should then also be updated in the [documentation](https://hazelcast.org/plugins/?type=cloud-discovery#aws).

[2016-08-31 08:27] mesutcelik commented on #8
Thanks for the heads up! @Stephan202

We will be releasing hazelcast-aws soon but versioning won't be in sync. After moving modules to their own repositories, they will have their own versions. As this is completely new name and not available in maven central, we will release it as v1.0 and planning to implement Discovery SPI based one in future. That will probably be v.2.0

Versioning related inf

[2016-09-21 11:49] gsaslis opened #9 "Missing docs on required IAM role privileges"
I am struggling to find what the required roles / policies are for the AWS IAM user that I have just created for Hazelcast.

(Disclaimer: I already know a gung-ho approach like 'ec2 admin' or sth would work, but I am looking for the specific list of the permissions required.)

Can somebody please point me to a relevant doc? (In return, I'll happily open a PR so that it's also documented in this re

[2016-09-23 09:51] gsaslis commented on #9
FWIW - by trial and error - I have come to the conclusion one would need the following `ec2:Describe*`

I also ran across this [SO answer](http://stackoverflow.com/a/30687877/983387), according to which one would just need the `ec2:DescribeInstances` action in their policy. Just haven't confirmed this yet.

[2016-09-28 10:22] Stephan202 commented on #8
I see `v1.0` was released just now. Thanks!

[2016-09-28 10:22] #8 closed

[2016-10-04 13:06] gsaslis opened #11 "AWS discovery does not support AWS ECS service (?)"
I've been struggling to get AWS discovery to work within docker containers (the official hazelcast docker containers) deployed on AWS ECS.

I've narrowed this down to the fact that this library **only** supports EC2 IAM roles, and does not support the credentials scheme defined by `task definition roles` in AWS ECS.

The problem is that the `getKeysFromIamRole` method in the `DescribeInstances` cl

[2016-10-05 07:58] bilalyasar commented on #9
yes, user should give at least describe instances policy.
closed by https://github.com/hazelcast/hazelcast-aws/commit/9c5b2f3f42b7767b4fa6d04aeb262bea7bff5470

[2016-10-05 07:58] #9 closed

[2016-10-05 08:30] bilalyasar commented on #7
it is not failing for long time. i am closing for now until this failure appears again.

[2016-10-05 08:30] #7 closed

[2016-10-05 08:34] gsaslis commented on #9
awesome - thanks for confirming that @bilalyasar !

[2016-10-05 16:52] mesutcelik opened #12 "Automatic discovery of Elastic Beanstalk instances"
created on behalf of @laszlocsontos to better follow-up
original ticket: https://github.com/hazelcast/hazelcast/issues/8031

[2016-10-05 20:25] gsaslis commented on #11
Hey @mesutcelik!

Thanks - and yeah, sure!

So, according to the [AWS docs about IAM Task Roles](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html), this whole URL (including the `task_UUID`) is made available as an env var by the ECS agent (just in case, this is the app that links regular EC2 instances to an ECS cluster).

The env var is named `AWS_CONTAINER_CREDENTI

[2016-10-05 20:55] mesutcelik commented on #11
I just included `<iam-role/>` because if rolename is not provided then  hazelcast-aws has some default behavior.

Let me summarize what is needed...

In case of __*none*__ of those following parameters defined in hazelcast.xml, there should be some chain of actions to get security credentials.
* access-key
* secret-key
* iam-role

_hazelcast-aws_ should probably try following actions to get the cr

[2016-10-06 08:56] gsaslis commented on #11
@mesutcelik yeah I guess this sounds about right...

If I understand correctly (2) is already supported, so I'll get working on a PR for (1) and (3), if that's ok?

[2016-10-06 09:41] mesutcelik commented on #11
number 2 is only supported if you provide `<iam-role>` with no `rolename` i.e `<iam-role/>`

[2016-10-06 09:45] gsaslis commented on #11
@mesutcelik got it - thanks!

[2016-10-06 11:49] laszlocsontos commented on #12
Thanks for creating this ticket!

[2016-10-06 12:45] gsaslis commented on #11
@mesutcelik looking at https://github.com/hazelcast/hazelcast-aws/blob/master/src/main/java/com/hazelcast/aws/impl/DescribeInstances.java#L78, it seems that (2) is supported when someone declares `<iam-role>DEFAULT</iam-role>`..

Am I missing sth else?

[2016-10-06 13:14] mesutcelik commented on #11
right that is supported but in case `iam-role` is defined but i assume you are gonna implement the logic where none of the following is defined in the config.

* access-key
* secret-key
* iam-role

[2016-10-06 13:25] gsaslis commented on #11
yep!
so, if none are defined, we also check for ECS support before failing with the 'no credentials' error.
Otherwise, to maintain backwards-compatibility, we (should) check for the default role only when `<iam-role>DEFAULT</iam-role>` is declared.
Anyway, please let me submit the PR shortly, then we can discuss on the code itself in more detail  ; )

Thanks for the feedback!!

[2016-10-27 10:12] mesutcelik commented on #11
fixed by https://github.com/hazelcast/hazelcast-aws/pull/14

[2016-10-27 10:12] #11 closed

[2016-12-02 11:07] fschuh opened #15 "InvalidConfigurationException after split brain recovery"
After a split brain, in one of our server nodes Hazelcast started printing the following error to our logs:

[code]

I'm pretty sure our config has no access-key though, we're using iam-role only.
Our aws config looks like this:

[code]

Note that even though this exception is constantly being logged (every couple minutes), discovery seemed to be working OK, and our application was responding norm

[2016-12-06 22:06] mesutcelik commented on #15
Thanks @fschuh for the detailed explanation. I think that validation must be moved to XML Config parsing instead of done by `DescribeInstances` constructor.

[2016-12-08 01:58] #15 closed

[2017-01-13 21:56] mesutcelik opened #17 "TcpIpJoinerOverAWS not considering `hazelcast.tcp.join.port.try.count` parameter"
see https://github.com/hazelcast/hazelcast/issues/9640

[2017-01-20 16:54] AjitDas opened #18 "Support of hazelcast properties starting scan port (other than default 5701) with AWS TCP Joiner"
I have multiple applications using embedded hazelcast deployed in AWS bundled as docker container. I am using AWS discovery for my applications. My applications are deployed something like this (i.e one container for a given application in each AWS instance)

**AWS Instance-1**
docker run .......  -p 5701:5701 ..... app1
docker run .......  -p 5702:5701 ..... app2
docker run .......  -p 5703:5701

[2017-02-09 08:15] osnatn opened #19 "Hazlecast node repeated close connection to itself."
Hi,

Attached files:
[clusterInfo.txt](https://github.com/hazelcast/hazelcast-aws/files/763009/clusterInfo.txt)
[network-config.txt](https://github.com/hazelcast/hazelcast-aws/files/763010/network-config.txt)

I’m having some problems using Hazelcast in my project, using aws-discovery and docker.
1.	I see exceptions in logs.
2.	I see in the logs of one of the two nodes (not the master/old node) re

[2017-02-22 08:00] emrahkocaman commented on #19
Hi @osnatn , thanks for reporting.
Is there a specific need for below config?
[code]

I'd recommend disabling port auto increment, this should prevent the closed connection exceptions.
You see the logs periodically because discovery split brain check is done every 120 secs. This period is configurable via system property `hazelcast.max.join.merge.target.seconds`. Please check details [here](http:/

[2017-02-26 14:02] osnatn commented on #19
Hi,
I'm using version 3.7.
Disabling port auto increment means also setting PortCount(1) instead of PortCount(4) so only port 5701 is used? Not sure if I understand when I should use enabled auto-increment?
Thanks, Osnat

[2017-02-27 15:01] osnatn commented on #19
No repeated connection close in logs and no exceptions anymore, after changing the configuration to:
networkConfig.setPort(5701);
networkConfig.setPortCount(1);
networkConfig.setPortAutoIncrement(false);

Thanks for your help although I can't say that I understand the auto increment issue and will appreciate if you can elaborate.
Thanks, Osnat

[2017-03-02 07:48] emrahkocaman commented on #19
Nice to hear that the problem is solved.
Port auto-increment is useful when you're starting multiple Hazelcast instances in the same VM. So if 5701 is already occupied it'll try to bind it self to the next available one but beyond that this config is also used in discovery. Hazelcast will try to connect to a number of ports (defined by `portCount`) to all IPs returned from discovery service.

Clos

[2017-03-02 07:48] #19 closed

[2017-03-13 12:54] redserpent7 opened #20 "AWS Lambda support"
Dears,

Not sure if this is at all possible but I was wondering if you are at least considering add support for AWS lambda.

Regards

[2017-03-13 17:16] mesutcelik commented on #20
Hi @redserpent7 ,

What kind of support are you looking for? Reaching Hazelcast Cluster from a Lambda function?

[2017-03-13 17:52] redserpent7 commented on #20
@mesutcelik yes thats what I'm looking for

[2017-04-12 11:43] lazerion commented on #18
@AjitDas We support only one Hazelcast instance for each EC2 instance in our discovery mechanism and using Docker does not effect discovery. If you want feature to be added, please send a PR. We will be happy to review and merge, also give you credit.

Cheers.

[2017-04-12 11:43] #18 closed

[2017-04-12 14:09] ihsandemir opened #22 "AWSConfig getConnectionTimeoutSeconds is not used during connection"
It seems like DescribeInstances did not use any timeout during https url connection https://github.com/hazelcast/hazelcast-aws/blob/master/src/main/java/com/hazelcast/aws/impl/DescribeInstances.java#L259 . There is a config parameter set/getConnectionTimeoutSeconds which I expect to be used.

Furthermore, this timeout probably needs to be used for other http requests such as https://github.com/haz

[2017-04-13 18:26] mhurne commented on #11
Is it possible to cluster multiple members hosted in containers on the same ECS container instance? Regardless, are there particular steps required to properly configure ECS/the tasks to support Hazelcast (e.g. port mapping)?

[2017-04-18 09:17] gsaslis commented on #11
@mhurne according to https://github.com/hazelcast/hazelcast-aws/issues/18#issuecomment-293551971 this is not possible atm.

[2017-04-24 07:16] emrahkocaman commented on #3
@sertugkaya hazelcast-aws plugin now implements Discovery SPI. You can define the member port using `hz-port` property. See [documentation](https://github.com/hazelcast/hazelcast-aws#configuring-aws-discovery-using-discovery-spi-for-hazelcast-client) for details.
This will be available with the next release of hazelcast-aws.

[2017-04-24 07:16] #3 closed

[2017-04-25 12:28] oleg-vasiliev opened #25 "Version with "Discovery SPI implementation for AWS" feature does't exists on sonatype repo."
![image](https://cloud.githubusercontent.com/assets/7147660/25385115/9d8db1e0-29cb-11e7-8db6-8e88320d7745.png)
![image](https://cloud.githubusercontent.com/assets/7147660/25385138/b4162492-29cb-11e7-95ff-b362495cdc31.png)

[2017-04-25 13:59] emrahkocaman commented on #25
Hi @oleg-vasiliev , the changes are in the master branch, it's not released yet.
Should be out next week. I'd suggest building locally if you want to give it a try.

[2017-04-29 10:34] mesutcelik commented on #25
fixed by https://github.com/hazelcast/hazelcast-aws/releases/tag/v2.0.0

[2017-04-29 10:34] #25 closed

[2017-05-29 21:22] mesutcelik opened #28 "Behavior when tags configured is not available or propagated"
We need to define a behavior if tags can't be retrieved for some period of time and fail fast at the end if tag can't be resolved.

see the issue -->  https://github.com/hazelcast/hazelcast/issues/10537

[2017-06-07 15:09] thurber opened #29 "AWS credentials required in the new AWS Discovery using SPI mode"
The documentation implies that the "access-key", "secret-key", and "iam-role" properties are optional and that Hazelcast can fallback to using the role and credentials assigned to the EC2 instance. This would be ideal so that I do not need to hardcode these values into my hazelcast.xml.

However, when I try to run a hazelcast cluster without these properties, startup will fail with an error statin

[2017-06-09 07:53] lazerion commented on #29
Thanks @thurber, we are on it.

[2017-06-10 15:20] miere commented on #29
I had to be honest, although Hazelcast offers a great architecture design to my application, it have turned my life into a nightmare. Most of time I really can't trust the documentation you guys write. Other times stuffs just stop to work...

[2017-06-29 07:25] emrahkocaman commented on #29
Documentation is correct, "access-key", "secret-key", "iam-role" are optional. This is a bug introduced while implementing Discovery SPI hazelcast-aws.
Fixed by #30 and will be available in 2.0.2 release. (2.0.2 should be released within 1-2 weeks).

@thurber Thanks for reporting, it'd be appreciated if you could give a try to [2.0.2-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshot

[2017-06-29 09:50] mesutcelik commented on #22
fixed by https://github.com/hazelcast/hazelcast-aws/pull/30

[2017-06-29 09:50] #22 closed

[2017-06-29 15:19] thurber commented on #29
Thanks for the update @emrahkocaman! Unfortunately my instances can no longer discover each other with the 2.0.2-SNAPSHOT provided above, regardless of including the settings or not (although I no longer receive errors for omitting them).

For reference, here's the relevant piece of my config xml that worked with 2.0.1:
[code]

With 2.0.2-SNAPSHOT, I tried:
- the same settings as above
- omitting

[2017-06-30 07:08] lazerion commented on #29
@thurber Hi,

Could you please share hazelcast logs on each EC2 instances?

[2017-06-30 15:57] thurber commented on #29
Sure thing, see below for four log files -- two from instances in the working case with 2.0.1, and two from instances in the non-working case with 2.0.2-Snapshot. Let me know if I should set a more informative logging level. Also note that the application is running inside a docker container on each instance.

**Non-Working Case (2.0.2-SNAPSHOT):**
_Instance 1:_
[code]

_Instance 2:_
[code]

**Wor

[2017-07-03 09:18] lazerion commented on #29
@thurber Hi,

Is there any specific reason to use directly Docker on EC2 host rather than AWS ECS?

Moreover, is it possible to check below items on your environment?
1] Please run docker containers with `--network=host` networking on EC2 hosts.
2] Please add below interface binding to `hazelcast.xml` configuration file.
[code]
Please note that `10.0.*.*` depends on your subnet or CIDR block.

3]

[2017-07-03 14:30] thurber commented on #29
@lazerion Ack sorry about that, noob mistake: I wasn't setting the snapshot jar into the classpath correctly. It works like a charm now, thanks!

I am able to avoid needing `--network=host` and the `<interface>` option by specifying the `<network><public-address>` option programmatically before launch.

[2017-07-03 14:30] #29 closed

[2017-07-20 11:54] lazerion commented on #20
Clients can access Cluster from AWS Lambda with Discovery clients, however, there are limitations for [Lambda](http://docs.aws.amazon.com/lambda/latest/dg/limits.html).

[2017-07-20 11:54] #20 closed

[2017-07-20 11:57] lazerion commented on #17
@mesutcelik I believe we can close it.

[2017-07-20 12:01] lazerion commented on #28
@mesutcelik we added configurable `timeout` for queries. I believe we can close this issue.

[2017-07-20 18:37] mesutcelik commented on #28
Can you please reference the PR here?

[2017-07-20 18:38] mesutcelik commented on #17
Was the problem solved? Which PR has solved this problem?

[2017-07-20 20:03] lazerion commented on #17
The problem here, as we experienced also in AWS ECS, in order to discovery properly work container must bind to host interface and should be run with `--network=host`, forwarding ports for docker run arguments and eventually scanning will not solve problem.

[2017-07-24 13:28] acisternino opened #32 "Missing property 'access-key' when 'iam-role' is specified."
Hi.

I am trying to deploy Hazelcast on EC2 using IAM roles for discovering other cluster members and I am getting the following error:
[code]
This is my hazelcast.xml file:
[code]
`PippoRole` has the following policy attached:
[code]
and it is correctly attached to the running instance.

From inside the instance, when I try to get the auth token from the metadata, I get
[code]
which seems to show

[2017-07-24 13:37] mesutcelik commented on #32
Hi @acisternino ,
Can you please try to use 2.0.2-SNAPSHOT?

It must be fixed by this PR. https://github.com/hazelcast/hazelcast-aws/pull/30

[2017-07-24 14:02] acisternino commented on #32
Thanks for the quick reply @mesutcelik.

I'll try in a couple of hours but the PR looks like the right one.

[2017-07-24 16:26] acisternino commented on #32
First tests looks good.

Server instances are discovered.  👍

[2017-07-24 19:55] emrahkocaman commented on #32
Closing this issue as it's duplicate of https://github.com/hazelcast/hazelcast-aws/issues/29 and already resolved and addressed for 2.0.2.
Thanks for reporting @acisternino

[2017-07-24 19:55] #32 closed

[2017-07-24 20:01] emrahkocaman commented on #28
Closing this issue, resolved by https://github.com/hazelcast/hazelcast-aws/pull/30. ([This line](https://github.com/hazelcast/hazelcast-aws/pull/30/files#diff-81b776ac33a4d0d722dde3ec4d9377e3R286) to be specific.)

[2017-07-24 20:06] emrahkocaman commented on #17
@mesutcelik Problem is solved with discovery spi implementation. (https://github.com/hazelcast/hazelcast-aws/pull/21/files#diff-27de30b5fa49f4f36e763258a0cd33faR82)

With discovery spi impl, you can use "hz-port" property to start scanning from the desired port.

[2017-07-26 17:07] sshorkey opened #33 "connection-timeout-seconds command rejected"
Attempting to start up hazelcast has resulted in this error:
`Caused by: com.hazelcast.config.InvalidConfigurationException: cvc-complex-type.2.4.a: Invalid content was found starting with element 'connection-timeout-seconds'. One of '{"http://www.hazelcast.com/schema/config":iam-role, "http://www.hazelcast.com/schema/config":host-header, "http://www.hazelcast.com/schema/config":tag-key, "http://w

[2017-07-26 17:10] sshorkey commented on #33
[code]

[2017-07-26 17:16] mesutcelik commented on #33
Thx for the quick feedback. Can you please try as an attribute to `aws` tag.
 `<aws enabled="true" connection-timeout-seconds="60" >`

[2017-07-26 17:21] sshorkey commented on #33
Solved the problem. Thanks.

[2017-07-26 17:21] #33 closed

[2017-07-26 17:26] mesutcelik commented on #33
good to hear that!

We highly recommend to use Discovery SPI based configuration for future. please see the [README](https://github.com/hazelcast/hazelcast-aws)
We will remove the support for the old configuration in future. cc: @mmedenjak

[2017-07-26 17:26] sshorkey opened #34 "SocketException[Connected refused] errors"
Cannot connect to any of the nodes in my instance.

[code]

Security group is open (to debug I opened every port to all traffic) and AWS credentials are correct.

[2017-07-26 17:33] sshorkey commented on #34
Did some more debugging and now getting these errors as well:
[code]

[2017-07-26 18:03] mesutcelik commented on #34
Can you please try to set public-address of the members? see the comment [here](https://github.com/hazelcast/hazelcast/issues/4537#issuecomment-234188298)

[2017-07-26 18:13] #17 closed

[2017-07-26 19:33] sshorkey commented on #34
That fixed the issue. Maybe a quick note on use in Docker should be added to the docs?

[2017-07-26 21:44] sshorkey commented on #34
Turns out it's not working.. it's attempting to connect to the wrong nodes even with the public-address parameter set.

I have three nodes, their IPs are:
172.31.25.99
172.31.41.238
172.31.5.34

On 172.31.25.99, it connects to itself just fine, but it fails when connecting to other two with:
[code]
It's getting the IP address of the other two "mixed up"--it complains it can't connect to 172.31.41.

[2017-07-27 12:07] mmedenjak commented on #33
The old `aws` element will definitely be removed in hazelcast 4.0, I suggest you try out the discovery SPI version until then.

[2017-07-31 15:55] sshorkey commented on #34
any ideas?

[2017-07-31 20:36] lazerion opened #36 "DescribeInstances fails when no credentials given in config including iam-role"
Current implementation gives client error from DescribeInstances endpoint.
[code]

Introduced with #31

[2017-08-02 11:36] lazerion commented on #36
@mesutcelik with #37 we can close this.

[2017-08-02 11:36] #36 closed

[2017-08-07 20:04] ashwinivin opened #38 "Discovery SPI not working between Client and Cluster"
Getting the Following error when trying to connect to the client in AWS. Below is the error log: Any help would be greatly appreciated.

`Aug 07, 2017 6:03:13 PM com.hazelcast.client.config.XmlClientConfigLocator
INFO: Loading configuration /home/ec2-user/hazelcast-client-config.xml from System property 'hazelcast.client.config'
Aug 07, 2017 6:03:13 PM com.hazelcast.client.config.XmlClientConfigLo

[2017-08-07 20:07] ashwinivin commented on #38
The settings.XML file is attached below:
`<hazelcast-client xsi:schemaLocation="http://www.hazelcast.com/schema/client-config hazelcast-client-config-3.8.xsd"
           xmlns="http://www.hazelcast.com/schema/client-config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<license-key>"Removing it due to privacy"</license-key>

  <group>
    <name>"Removing it due to Privacy"</na

[2017-08-07 20:09] ashwinivin commented on #38
Any help is greatly appreciated.

[2017-08-08 11:58] lazerion commented on #38
@ashwinivin could you please check `cp` or `CLASSPATH` it seems that HZ discovery plugin is not loaded.

[2017-08-17 09:22] emrahkocaman commented on #34
Looks like the members on "172.31.5.34" and "172.31.41.238" have wrong public-ip addresses. AFAIS, they are bound to "10.255.0.8" and "10.255.0.11".

Could you please check if all your members has been configured to use correct `public-address`es?

[2017-08-31 08:53] destebanm commented on #29
Hi!

When do you plan to release 2.0.2?

Thanks!

[2017-08-31 13:56] mesutcelik commented on #29
Hi @destebanm ,
We are working on ZONE_AWARE feature where hazelcast partition groups will be defined based on AWS Availability Zones. We are planning to release in a few weeks and the version will be 2.1

[2017-09-01 08:46] destebanm commented on #29
Thanks for the info @mesutcelik

[2017-09-04 12:21] destebanm commented on #34
Hi!

In order to avoid configure containers to net=host and following the [comment](https://github.com/hazelcast/hazelcast/issues/4537#issuecomment-234188298) I ended with this hazelcast.xml:

[code]
If I create my docker swarm service with this:

[code]
Then Hazelcast logs in each node:

[code]

[code]

[code]
Can you imagine why is not working?

I am using

[code]
Thanks!

[2017-09-06 08:20] destebanm commented on #34
Guys, I fixed the problem with the `service create` command

[code]
It is needed to map port 5701 from host
`--publish mode=host,target=5701,published=5701 \`

This way, you do not need to map the whole with ` net=host`, so you can benefit of ingress network for other ports like 8080

[2017-09-22 14:47] mesutcelik opened #42 "embed minimal-json instead of using from hazelcast.jar"
Currently `hazelcast-aws` module is using `com.hazelcast.com.eclipsesource.json.JsonObject` from hazelcast.jar but that is not working in OSGI environment because this package is not exported. hazelcast-aws must repackage `minimal-json` into its own jar via shade plugin and use it directly.

see the main issue: https://github.com/hazelcast/hazelcast/issues/10994
fix attempt on hazelcast repo: http

[2017-09-25 15:13] vigneshsenapathy opened #43 "Not able to start in cluster mode without access-key and secret-key"
hey guys,

I am trying to start orientdb using the hazelcast-aws. I have my hazelcast.xml which doesnt have a access-key and secret key. I have a i-am role which has access to ec2 and it complains it needs a access-key

Error log:
accessKey must contain text

My hazelcast.xml looks like this

<?xml version="1.0" encoding="UTF-8"?>
<hazelcast id="hazelcast-consul-discovery"
           xsi:schemaLoc

[2017-09-25 15:32] mesutcelik commented on #43
Hi @vigneshsenapathy ,

This is already [fixed](https://github.com/hazelcast/hazelcast-aws/issues/32) and will be released in hazelcast-aws 2.1.
You can only build the jar from master branch and use it for the time being.

[2017-09-25 15:32] #43 closed

[2017-09-25 15:35] vigneshsenapathy commented on #43
@mesutcelik : so i build the jar out of master i should be ok to use it right ?

[2017-09-25 15:41] mesutcelik commented on #43
@vigneshsenapathy

We don't recommend that normally so if you see a risk don't use it from snapshot...
You can also wait hazelcast-aws 2.1 release which is probably this week or next week so that you can directly use it from Maven Central

[2017-09-25 15:42] vigneshsenapathy commented on #43
@mesutcelik : cool. For now i will use the key and i will wait for the one to be pushed to maven central.

[2017-10-09 01:31] planet opened #44 "Proxy support for hazelcast (AWS)?"
In our AWS environment the EC2 endpoint is only reachable via a proxy server, as there is no other way to get to the Internet.  Does hazelcast support this?  If so how can we configure hazelcast to discovery members via a proxy?  Thanks in advance!

[2017-10-12 10:09] googlielmo commented on #44
The AWS discovery plugin uses `java.net.HttpURLConnection`, which supports this use case.

Please set the `http.proxyHost` and `http.proxyPort` system properties, or their https counterparts `https.proxyHost` and `https.proxyPort`, to specify your http, or https, proxy host and port  [1].

Also, set the `http.nonProxyHosts` (which is also used for https!) to the value "169.254.169.254|169.254.170.

[2017-10-16 20:25] planet commented on #44
Thanks @googlielmo

[2017-10-16 20:25] #44 closed

[2017-10-18 05:01] tal181 opened #45 "How do I configure the AwsDiscoveryStrategy programmatically ?"
InterfacesConfig interfacesConfig = new InterfacesConfig();
            interfacesConfig.setEnabled(true);
            List interface1 = new ArrayList<>();
            interface1.add("10.0.*.*");
            interfacesConfig.setInterfaces(interface1);
            network.setInterfaces(interfacesConfig);

            //set aws discovery
            Map<String, Comparable> properties = new HashMap<S

[2017-10-18 16:41] mesutcelik commented on #45
Hi @tal181 ,

I think you should use full classname `com.hazelcast.aws.AwsDiscoveryStrategy` and you don't have to give both `iam-role` and `access-key`/`secret-key` pair at the same time.

[2017-10-18 23:39] yinhua-dai opened #46 "why do I have to use access key and secret key for cluster member discovery"
Hi,

I am running several applications running in different ec2s, and all these applications should compose to a hazelcast cluster, no cluster client.

When I am trying the auto discovery function, I found that access key and secret key must be specified, can't they use EC2 default authentication as they are already running inside AWS.

Thanks.

[2017-10-19 13:56] mesutcelik commented on #46
Hi @yinhua-dai,
Thanks for the heads up!

This is actually fixed in master and will be available in maven as version 2.1 in a few days.
please see https://github.com/hazelcast/hazelcast-aws/issues/32

[2017-10-19 13:56] #46 closed

[2017-11-27 21:03] gokhanoner opened #47 "ZONE_AWARE partition group only work with Discovery SPI and not doc. about that wont work work with `aws` tag config"
From Node.js

[code]

So if AWS is configured the old way, then `mergeEnvironmentProvidedMemberMetadata` methods not called and this causes PARTITION_GROUP_ZONE info not being populated: https://github.com/hazelcast/hazelcast-aws/blob/master/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategy.java#L118

Since `aws` tag is deprecated, this seems normal but please at least add a doc to READ.me that

[2017-11-28 14:48] mesutcelik commented on #47
fixed by https://github.com/hazelcast/hazelcast-aws/commit/42d156369a9f66b3ce3f3ab807931412fe91cec7

Thanks @gokhanoner !

[2017-11-28 14:48] #47 closed

[2017-11-28 16:39] gmatadh opened #48 "Support for configuring via spring xml?"

[2017-11-29 21:26] bfeldkamp3 opened #49 "List of recommended ec2 instances is out of date"
https://github.com/hazelcast/hazelcast-aws#selecting-ec2-instance-type

This list is outdated and lists some deprecated instances and doesn't list some newer instances.

Here's the list of current instances - https://aws.amazon.com/ec2/instance-types/

Is this just a matter of listing all instances that have 10GB+ or High under the `Networking Performance` category?

[2017-12-01 20:29] gokhanoner opened #50 "ZONE_AWARE partition group not working on AWS, unless member-attribute tag added"
Using hazelcast 3.9 & AWS plugin 2.1.0.

Defining just `<partition-group enabled="true" group-type="ZONE_AWARE"/>`  causes this exception:

[code]

Only way to make it work is adding this:

[code]

[2017-12-07 17:06] #49 closed

[2017-12-07 17:11] mesutcelik commented on #49
fixed by https://github.com/hazelcast/hazelcast-aws/commit/4468e9286f791ebddf399987462d6a96c6034a51
Thx @bfeldkamp3 for the heads up!

correct!

[2017-12-07 21:41] mesutcelik commented on #48
please see https://github.com/hazelcast/hazelcast/blob/v3.9.1/hazelcast-spring/src/main/resources/hazelcast-spring-3.9.xsd#L1930

[2017-12-07 21:41] #48 closed

[2017-12-07 21:44] mesutcelik commented on #45
I hope your problem is resolved now.
please do not hesitate to ask future questions to [Hazelcast Google Groups](https://groups.google.com/forum/#!forum/hazelcast)

[2017-12-07 21:44] #45 closed

[2017-12-07 21:49] mesutcelik commented on #38
Hi @ashwinivin ,
There were some issues with java client in AWS env. Can you please try it with the latest java client which is 3.9.1 for the time being?

I am closing this issue. please feel free to reopen if you are still experiencing the problem.

[2017-12-07 21:49] #38 closed

[2017-12-12 07:39] #50 closed

[2017-12-13 02:23] #34 closed

[2018-01-01 19:42] Glamdring opened #52 "Stopped working with Hazelcast 3.9+"
I have the following setup, which used to work with Hazelcast 3.8.6, but fails on AWS:

[code]

The stacktrace of the error with 3.9+ is:

[code]

[2018-01-01 21:17] mesutcelik commented on #52
Hi @Glamdring ,
Thanks for raising the issue.

I think you hit the bug here #50
This is already [fixed](https://github.com/hazelcast/hazelcast/pull/11934) and will be released in hazelcast 3.9.2. You can expect the release within a week so stay tuned!

[2018-01-01 21:17] #52 closed

[2018-01-06 17:52] polanskya opened #53 "Configuring AwsDiscoveryStrategy programaticly"
Could you please provide samples how to configure AwsDiscoveryStrategy programmatically?

Thanks

[2018-01-08 07:50] hasancelik commented on #53
Hi @polanskya ,

Here is the example instance/server config:

[code]

As a side note, you need to add the hazelcast-aws.jar dependency to your project.

[2018-01-08 16:28] mesutcelik commented on #53
@hasancelik
Can we add a sample to https://github.com/hazelcast/hazelcast-code-samples ?

[2018-01-09 14:30] hasancelik commented on #53
@mesutcelik

I have created [PR](#54 ) which updates README with programmatic configuration snippets and also I have created [issue](https://github.com/hazelcast/hazelcast-code-samples/issues/210) at code samples repo.

[2018-01-10 09:01] hasancelik commented on #53
Hi @polanskya ,

Did config that I shared work for your setup?

[2018-01-12 16:55] vigneshsenapathy opened #55 "Can the plugin work with network mode as bridge"
Hi,

I am trying to use the hazelcast-aws plugin and wanted to know if it can work in network mode as bridge? Please let me know if this is possible
Below is the text from the your document which says that the bind should be in host mode

Configuring Hazelcast Cluster Members for AWS ECS
In order to enable discovery within AWS ECS Cluster, within taskdef.json or container settings, Hazelcast membe

[2018-01-15 08:54] hasancelik commented on #55
Hi @vigneshsenapathy ,

Unfortunately, current implementation of this plugin does not support bridge network. If you want to use this discovery plugin on ECS cluster, hazelcast member should be bind to host network.

[2018-01-15 09:46] googlielmo commented on #53
Provided by #54. Looks like we can close this issue.

[2018-01-15 09:46] #53 closed

[2018-01-16 08:28] googlielmo commented on #55
Closing this as the original question was answered. Feel free to open other issues for more questions.

[2018-01-16 08:28] #55 closed

[2018-01-16 21:43] polanskya commented on #53
Yes.. sorry for delay response .. worked great.. I am running this on 2 instance Beanstalk at the moment..

I would like to share how to automatically get some of the AWS properties using AWS Sdk, perhaps this can be added to examples..
import com.amazonaws.AmazonClientException;
import com.amazonaws.services.ec2.AmazonEC2;
import com.amazonaws.services.ec2.AmazonEC2Client;
import com.amazonaws.se

[2018-02-04 01:59] dimas commented on #28
Chaps, are you sure the original issue is resolved by this PR?
This comment https://github.com/hazelcast/hazelcast/issues/10537#issuecomment-302733138 explains how I see it - the important bit is not what timeout you have for AWS HTTP requests but how do you make sure if AWS response is good to use. (If the node cannot see itself in the response, it is probably not too early to trust that response

[2018-02-06 17:46] mesutcelik commented on #28
I am reopening the issue. You basically say we need to retry if we see empty list [here](https://github.com/hazelcast/hazelcast-aws/blob/v2.1.0/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategy.java#L147). It has to return at least itself in case of a single-member or first member case.

[2018-02-09 09:31] dimas commented on #28
Yes, correct.
Thank you.
In our custom scripts we run before starting Hazelcast we do do not check that node can find itself, we only check if list is empty or not. Even if the node cannot find itself it is probably ok as long as it sees another one - it will try to cluster with it.

[2018-02-27 14:20] vertex-github opened #56 "AWS client does not retrieve error reasons"
When AWS issues an error they do so under the `503` error code.  The current AWS client does not retrieve the text content of error messages as an Exception is thrown when the response code is not 2xx or 3xx.  The following patch attempts to retrieve and log the error reason:

[code]

[2018-02-27 14:25] vertex-github commented on #56
Server side error codes and message format detailed here: https://docs.aws.amazon.com/AWSEC2/latest/APIReference/errors-overview.html#api-error-codes-table-server

[2018-02-27 16:52] vertex-github opened #57 "AWS Discovery for Client does not honor configured connection retry config"
When using AWS discovery on a HazelcastClient, if the initial connection fails due to a 503 error being returned from AWS then the connection is not retried as per the configured retry count.

[2018-02-27 16:54] vertex-github opened #58 "Discovery config for AWS does not warn/abort on unknown properties being specified in config"
Add an unknown property to the configuration for AWS discovery (client or server).  Unknown props are silently ignored - which for the case of a typo is not helpful.

[2018-02-27 20:31] mesutcelik commented on #57
Is Hazelcast Client inside or outside AWS?

@sancar
How does retry work in case of AWS? Do you think the problem above related to HazelcastClient trying to private IPs?

[2018-02-27 20:35] vertex-github commented on #57
We tried both in and out - the location of the client isn't the issue here as far as I can tell - when a 503 error is received the connection attempts stop.

[2018-02-28 07:38] sancar commented on #57
I checked the code again and in case of the error from Aws calls it should retry properly.
We had a bug recently on AWS discovery, which we have fixed. You could be hitting that bug.
https://github.com/hazelcast/hazelcast/pull/11248
https://github.com/hazelcast/hazelcast/pull/11169
The fix is available in versions after 3.8.6.
Can I learn the version you are trying?
Secondly, are you using <aws> c

[2018-02-28 11:56] vertex-github commented on #57
Tried with 3.9.2 and 3.8.3

On Feb 28, 2018 02:38, "mustafa sancar koyunlu" <notifications@github.com>
wrote:

[2018-02-28 12:07] sancar commented on #57
It seems a question of mine was not readable because of unfortunate formatting.
Here is the question again:
Are you using `aws` config or `discovery-stragies` config ?
http://docs.hazelcast.org/docs/3.9.3/manual/html-single/index.html#configuring-client-for-aws

http://docs.hazelcast.org/docs/3.9.3/manual/html-single/index.html#discovery-strategy

[2018-02-28 12:08] vertex-github commented on #57
discovery-strategy

On Feb 28, 2018 07:07, "mustafa sancar koyunlu" <notifications@github.com>
wrote:

[2018-02-28 12:56] sancar commented on #57
Can you share the logs of the client when failed to retry?

[2018-02-28 14:41] vertex-github commented on #57
[code]

[2018-02-28 15:05] sancar commented on #57
Thanks for the logs. The problem is obvious with this log. `connectToClusterInternal` needs to be inside try/catch block . Any error should be cached and we need to continue to other attempts. We will address this in next patch of the hazelcast main project. I have opened an issue there for this fix
https://github.com/hazelcast/hazelcast/issues/12457

[2018-03-14 13:41] mmitya opened #59 "Client outside AWS fails to connect to cluster in AWS"
Hello.

I have:
- hazelcast 3.9.2 cluster is in AWS
- hazelcast 3.9.3 client + hazelcast-aws 2.1.0 is outside AWS

Client fails to connect: `Unable to retrieve credentials from IAM Role.`

Client log:
[code]

Client exception:
[code]

Test client code:
[code]

Please assist.
Thanks.

[2018-03-19 12:41] #57 closed

[2018-03-19 13:17] leszko commented on #59
Hi @mmitya ,

Currently  setting "name" and "password":

[code]

is not supported. So you may use IAM role feature only from inside AWS.

Can't you generate Access Key and use it instead?

[2018-03-20 13:14] leszko opened #61 "Update file headers (licenses) and code formatting"
Make the code format consistent with the rest of the Hazelcast projects.

[2018-03-20 13:18] leszko opened #62 "Consider using AwsConnectionException for every connection in the project"
So far, AwsConnectionException is thrown only in the DescribeInstances class.

[2018-03-20 13:19] leszko opened #63 "Refactor code and fix unit tests"
At the moment the code has a significant technical debt and a lot of unit tests are failing.

[2018-03-20 13:30] leszko commented on #56
Added the feature in https://github.com/hazelcast/hazelcast-aws/pull/60

Closing the issue.

[2018-03-20 13:30] leszko commented on #56
Added the feature in https://github.com/hazelcast/hazelcast-aws/pull/60

Closing the issue.

[2018-03-20 13:30] #56 closed

[2018-03-21 06:48] #63 closed

[2018-03-21 11:25] mmitya commented on #59
Hi @leszko
Will give it a try.
Thanks.

[2018-03-23 15:04] leszko commented on #12
Hi @laszlocsontos, are you still working on this feature?

[2018-03-31 16:18] mpataki commented on #11
This thread and your PR, @gsaslis, have been interesting reads as I dig into this issue myself. Regarding the limitation that multiple cluster nodes can't run on the same ECS host; I'm wondering if anyone has attempted to use the (new since this thread) `awsvpc` task networking mode, which assigns an ENI to the task itself. This feature promises to provide tasks with the same networking properties

[2018-04-06 20:32] gokhanoner commented on #59
@mmitya  `iam-role` can be used only when you're inside AWS. Otherwise, you need to use Access Key & Secure Key.

[2018-04-06 20:53] gokhanoner opened #64 "AwsDiscoveryStrategy.discoverNodes throws exception causes node to shutdown immediately"
When member try to make the initial connection, `DiscoveryJoiner.getPossibleAddressesForInitialJoin` called, which calls `AwsDiscoveryStrategy.discoverNodes`. If any exception happens, this goes all the way back to `TCPJoiner` & causes node to shut down immediately instead of waiting to join. See below exception. Is this an expected behaviour?

[code]

[2018-04-06 21:10] gokhanoner commented on #64
Please see https://github.com/hazelcast/hazelcast/pull/12581

This could need to be fixed on core side instead of AWS.

[2018-04-09 14:14] leszko commented on #58
This change needs to be done in Hazelcast Core (https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/spi/discovery/impl/DefaultDiscoveryService.java#L195).

Therefore:
1) It will affect all Service Discovery Plugins (not only AWS)
2) It won't be backward compatible, however will be harmful only if an unused parameter is available in config at the moment (then th

[2018-04-09 14:25] mmedenjak commented on #58
Yes, it's possible to add in a patch release. I don't see this as a critical issue though and we will see if we have time to implement it.

[2018-04-09 14:41] mesutcelik commented on #58
@mmedenjak I think Rafal was asking if we can make it into 3.10... He will provide the PR....

@vertex-github We realized that this is a hazelcast core change and I don't think this can be added to 3.9.4 because it is breaking backward compatibility of Discovery SPI

[2018-04-09 14:42] leszko commented on #58
yes, I'll prepare a PR.

I'll add you both (@mmedenjak @mesutcelik) as reviewers.

[2018-04-09 14:43] mmedenjak commented on #58
Sure, we can merge it whenever it is ready

[2018-04-09 17:38] gokhanoner commented on #64
Related Zendesk issue: https://hazelcast.zendesk.com/agent/tickets/3809

[2018-04-09 18:08] mesutcelik commented on #64
related to https://github.com/hazelcast/hazelcast-aws/issues/28

[2018-04-13 14:28] mhurne commented on #11
@mpataki You may be interested in https://github.com/commercehub-oss/hazelcast-discovery-amazon-ecs, though there are not published releases.

[2018-04-13 14:35] mpataki commented on #11
Very cool - I'll keep an eye on this. Thanks!

[2018-04-20 23:30] kenwdelong opened #66 "Alternate Behavior for Tag Filtering"
Here's a feature request for consideration:

In my AWS setup, I have two tags: "Role" (which might have values like "api", "search", etc), and "Env" (which might have values like "Prod", "Staging", and "QA").

I would like all the Prod-API servers to form a cluster, all the QA-API servers to form a cluster, all the Staging-Search servers to form a cluster.

It would be great to be able to say setT

[2018-04-23 14:09] leszko commented on #66
Hi @kenwdelong ,

Thanks for posting.

If I understand correctly, you would like to filter by a set of tags, not by a single tag?

Concerning a separate file for each environment, I don't think it's needed. You can use variables, please take a look here: https://blog.hazelcast.com/xml-variables/. Does it solve your issue?

[2018-04-24 23:05] leszko commented on #66
Great! Happy to help.

[2018-04-25 16:03] mesutcelik commented on #58
fixed by https://github.com/hazelcast/hazelcast/pull/12819

[2018-04-25 16:03] #58 closed

[2018-04-25 16:11] mesutcelik commented on #59
@gokhanoner Do you think we can close this one by updating README with that information?

[2018-04-25 17:59] gokhanoner commented on #59
@mesutcelik I believe so since AWS Service returning `iam-role` related info is only available within AWS.

[2018-04-25 18:08] mesutcelik commented on #59
Ok. We will update this [comment](https://github.com/hazelcast/hazelcast-aws/blob/master/src/main/java/com/hazelcast/aws/utility/MetadataUtil.java#L36) and README first then close the issue. Thx!

[2018-04-30 18:12] leszko opened #68 "Fix flaky tests"
See: https://hazelcast-l337.ci.cloudbees.com/job/AWS-sonar/82/display/redirect?page=changes

[2018-05-02 16:08] pkgonan commented on #12
@leszko
@mesutcelik

I think that  It is not working.
It can not detect other EC2 Instance on AWS ElasticBeanstalk.
And can not clustering

Config config = new Config();
        config.getProperties().setProperty("hazelcast.discovery.enabled", "true");

   PartitionGroupConfig partitionGroupConfig = config.getPartitionGroupConfig();
partitionGroupConfig.setEnabled( true ).setGroupType( MemberGroup

[2018-05-03 13:38] dbrimley commented on #59
Fixed by #67

[2018-05-03 13:38] #59 closed

[2018-05-04 05:42] pkgonan opened #69 "Support for AWS ElasticBeanstalk EC2 Instances."
Hi
I think that It is not working.
It can not detect other EC2 Instance on AWS ElasticBeanstalk.
And can not clustering.

// Log message

    Members {size:1, ver:1} [
	Member [10.0.0.234]:5701 - 8fb81705-4afa-4753-bda6-5a2d97f9ee0f this
    ]

    Members {size:1, ver:1} [
	Member [10.0.0.234]:5702 - f01ca206-a534-40a0-aff0-830c68d13d4a this
    ]

    Dropped: SplitBrainJoinMessage{packetVersion

[2018-05-04 13:19] leszko commented on #12
Hi @pkgonan , thanks for the comment.

I see you created a separate issue with the same comment, so I'll keep this one closed.
https://github.com/hazelcast/hazelcast-aws/issues/69

[2018-05-04 13:27] leszko commented on #69
Hi @pkgonan,

Thank for reporting it. We'll check that.

[2018-05-04 18:15] mesutcelik commented on #69
Hi @pkgonan
We actually did not test hazelcast-aws in AWS ElasticBeanstalk Environment so I can't judge the effort required. However, your contributions would be very welcome in this.

[2018-05-09 05:10] gokhanoner commented on #64
@mesutcelik , @leszko do you think that this should be fixed in aws repo or in the core, since it affects all SPI discoveries?

[2018-05-09 11:43] leszko commented on #64
@gokhanoner, why do you think it affects other environments than AWS?

[2018-05-09 12:34] leszko commented on #64
Ok, if both are observed only in AWS, I'd assume it's related to AWS only. So, we can keep this issue here and link it form Zendesk.

[2018-05-09 15:17] mesutcelik commented on #64
I think the current behavior seems correct. the difference between this issue and client is that client retry mechanism wasn't working because of unhandled exception on the client side. I think we need to shutdown the member if it can't fetch IPs of the other cluster members. However, we need to define the cases of such failures and put proper logging otherwise Ops Guys would not know how to corre

[2018-05-17 03:16] leszko commented on #11
@mhurne

1. From the version 2.2, we'll support multiple containers per EC2 Instance in ECS. Until then, you're limited to one container / instance.
2. The configuration description is here: https://github.com/hazelcast/hazelcast-aws#configuring-hazelcast-members-for-aws-ecs. Meaning you need to set the network as "host", so no port mapping is supposed to be set.

[2018-05-18 14:54] mhurne commented on #11
Thanks for that information, @leszko . We actually built our own solution to the problem in the form of a custom discovery strategy, the source code of which is available at https://github.com/commercehub-oss/hazelcast-discovery-amazon-ecs . It's been working well for us. It doesn't require use of "host" networking (though that should work too); we use it with "bridge" networking.

We previously d

[2018-05-22 02:50] leszko commented on #64
The issue will be fixed by #71.

@ps-jay , the issue is really only about the retries. The log you see is actually wrong, Hazelcast does not wait "300000 ms" before printing this message. I've sent a fix for that (hazelcast/hazelcast#13164).

[2018-05-22 02:54] ps-jay commented on #64
So the fix will be that Hazelcast won't shutdown if enountering AWS throttling on startup?

[2018-05-22 12:26] leszko commented on #64
yes, but also it will retry the number of times specified by the parameter and only then return an empty list. So in result, if there is no connection to AWS, you may end up with the Split Brain, but Hazelcast won't shutdown.

[2018-05-30 12:47] #64 closed

[2018-05-30 15:12] leszko commented on #28
Moving the discussion started in #64 . Last comment from Mesut: "empty means to me either tags are not propagated as described in #28 or there is no tag configured although they are defined in hazelcast config.
It is good idea to move the discussion to #28"

[2018-05-30 16:36] mesutcelik commented on #28
The original issues created is https://github.com/hazelcast/hazelcast/issues/10537#issue-227485890 and the delay mechanism that is used by @dimas was probably because they didn't want to see temporary Split Brain.

@dimas Can you please comment on this?

[2018-06-06 10:39] leszko opened #74 "Change implementation of <aws> to discovery strategy"
Currently there are two implementations of AWS Discovery:
- `<aws>` (deprecated) - implemented in Hazelcast Root
- SPI Discovery Strategy - implemented in Hazelcast AWS

The underlying implementation of `<aws>` should be changed to SPI.

Note: Most of this issue will have to be implemented in Hazelcast Root.

[2018-06-08 06:00] dbrimley commented on #74
So you're suggesting that the <aws> configuration elements remains right?

[2018-06-08 06:42] leszko commented on #74
Yes, this issue is to change the underlying implementation.

[2018-06-08 09:15] mesutcelik commented on #74
I consider this as a cleanup with backward compatibility guaranteed because it does not make sense to maintain `TcpIpJoinerOverAWS` while we have Discovery SPI Implementation.

[2018-06-09 10:46] dbrimley commented on #74
Ok, I'm fine with that.

[2018-06-17 05:07] pkgonan commented on #69
@leszko
@mesutcelik

Hi, I would like to use hazelcast in AWS Beanstalk environment.
Is there another alternative to use?

[2018-06-18 13:28] mesutcelik commented on #69
Hazelcast is not tested in AWS Beanstalk env.
please feel free to test and provide feedback.

You can also use hazelcast in kubernetes env. too
please check for more info.
https://github.com/hazelcast/hazelcast-kubernetes

[2018-07-09 13:34] leszko commented on #28
Closing  due to inactivity.

[2018-07-09 13:34] #28 closed

[2018-07-09 13:37] leszko commented on #61
Done in #72

[2018-07-09 15:08] #61 closed

[2018-08-03 15:36] philmath-pea opened #77 "Problem Configuring Hazelcast Members for AWS ECS"
Following the instruction and I get this error which seems to directly contradict the readme.

I'm using the NetworkConfig class to configure instead of hazelcast.xml file.

[code]

[2018-08-06 07:35] leszko commented on #77
@philmath-pea ,

What are the private IP addresses of the EC2 instances backing up  your ECS cluster? You may have them in a different network and then you'd need to specify something different, for example:

[code]

[2018-08-06 12:51] philmath-pea commented on #77
all 6 servers in the cluster are in 10.0.10.*

[2018-08-07 07:41] leszko commented on #77
Could you paste here your `hazelcast.xml` and the Hazelcast version that you use?

[2018-08-07 11:51] philmath-pea commented on #77
I'm not using a hazelcast.xml . the code above is how I'm configuring hazel cast. Version 3.7

[2018-08-07 12:51] leszko commented on #77
I see, it should work. A few things more that you can check:

1. The output message is interesting, because `10.0..` does not contain `*`. Could you check that the value you pass to the configuration is exactly `10.0.*.*`?
2. You can try `hazelcast.xml` and if it works and exactly the same configuration fails for the Java-based config, then report a bug in https://github.com/hazelcast/hazelcast
3.

[2018-08-17 14:39] leszko commented on #77
@philmath-pea , so If I understand correctly you still have an issue but `No EC2 instances found!` instead of `'10.0.. ' is not an IP address! Removing from interface list.`, is it right?

[2018-08-24 12:38] mesutcelik opened #78 "Readme Update for Proxy support"
We see that is asked by several times so I think we need update README with how to configure Proxy Support.

please see : https://github.com/hazelcast/hazelcast-aws/issues/44

Following Repos need the same section too...
https://github.com/hazelcast/hazelcast-azure
https://github.com/hazelcast/hazelcast-gcp

[2018-08-29 14:53] leszko opened #79 "Update minimal-json dependencies"
Minimal JSON library package has changed from: ""com.hazelcast.com.eclipsesource.json" (3.10) to "com.hazelcast.internal.json" (3.11). It needs to be updated.

[2018-08-30 07:56] #79 closed

[2018-08-30 15:19] Serdaro opened #81 "Need an update on the EC2 instance types for the AWS guide."
There are some missing types which are asked by the prospects. Once they are provided through this issue, the AWS guide (https://hazelcast.com/resources/amazon-ec2-deployment-guide/) will be updated accordingly.

[2018-09-04 11:47] philmath-pea commented on #77
yes I upgraded and set ecs containers to use "host" networking configuration and still get the message "No EC2 instances found!" The joiner finds other EC2 instances using hazelcast in a different group but it won't find any of the containerized instances of hazelcast.

[2018-09-05 13:13] leszko commented on #77
That's weird, I actually tested it a few times before and it worked for me...
If you use the "host" network and set the public IP of Hazelcast to the one from EC2 Instance (using `<interface>10.0.*.*</interface>), then technically it's the same as if you'd run it directly on EC2 Instance.

The next things you could try is if you can try:
1. If your member is started with `10.0.*.*` IP address. You

[2018-09-05 13:47] philmath-pea commented on #77
These instances are being deploy as part of an ECS cluster so I cannot specify the IP of the members since it could be deploy to any 2 of a 6 node cluster. The member is accessible (I've tested this) but the members cannot find other members in the cluster once started.

[2018-09-06 07:43] leszko commented on #77
As mentioned in the first point in my last comment, did you check if your members are assigned with the host IP address (they should , if you use "host" network)? Do you have the host IP in the member logs?

[2018-09-12 13:03] Serdaro commented on #81
I think @tom-hazelcast  has been on it.

[2018-10-03 11:49] leszko opened #83 "Use the current region by default"
Currently, the default value of the region is "us-east1". The better solution is to use the current region of the EC2 Instance.

[2018-10-03 13:40] JohnZoldos opened #84 "NumberFormat Exception thrown for Port Range"
When configuring the port range for the Hazelcast Client, configuring the port range as such:

     <property name="hz-port">5701-5708</property>

ends up throwing a number format exception. If I don't specify a port range then the default value should still be 5701-5708, but this doesn't throw an exception. But, in this case, the client doesn't search for any ports after 5701. If it can't connect

[2018-10-04 17:03] markathomas commented on #77
I have a similar problem with Hazelcast 3.10.5 and HZ AWS 2.3 but in my case i don't even see the AWS discovery strategy attempting to locate nodes.  I am using IAM ECS task roles so I would expect to see a log message similar to the following: `Describe instances will be queried with iam-role assigned to EC2 instance, please make sure given iam-role have ec2:DescribeInstances policy attached.`  y

[2018-10-04 17:28] markathomas commented on #77
Here is my config:
[code]

NOTE: classic AWS joiner works just fine.

[2018-10-04 20:42] philmath-pea commented on #77
@leszko yes both instances are reporting the host ip address in the logs and report something like this -

`Members {size:1, ver:1} [
Member [10.25.10.57]:5858 - c6e272ba-4387-447c-a7d8-2a768a9aef5f this]
Oct 04, 2018 1:18:04 PM com.hazelcast.core.LifecycleService
INFO: [10.25.10.57]:5858 [3.5.20-SNAPSHOT-hazelcast-v3-admin] [3.10] [10.25.10.57]:5858 is STARTED`

[2018-10-05 10:40] leszko commented on #77
@philmath-pea , I think the issue may be that the your member port `5858` is outside of the range of ports you specify in the `hz-port` discovery property. Could you check if that's not the case?

@markathomas , why have you commented out both access-key/secret-key and iam-role? I think you need to set up either access-key+secret-key or iam-role to get it working.

[2018-10-05 11:53] markathomas commented on #77
@leszko you don't need either.  Check out `AwsDiscoveryStrategy` code for details.

[2018-10-05 13:48] philmath-pea commented on #77
@leszko I  just change the port to 5701 . Now it does not report " No EC2 instances found!" so that is progress. I still don't see a log specifying they found each other either.

curl 10.25.10.57:5701/hazelcast/health returns

`closed. Reason: REST or SSL not enabled` and `closed. Reason: Memcached or SSL not enabled`

alternately.

[2018-10-08 14:52] leszko commented on #77
@philmath-pea , could you paste here the logs you get now?

@markathomas You're right. I'll check why it doesn't work.

[2018-10-08 16:20] philmath-pea commented on #77
Both nodes looks like this, except IP address difference

`
08:42:20
log4j:WARN Please initialize the log4j system properly.

08:42:20
log4j:WARN See http://logging.apache.org/log4j/1.2/faq.html#noconfig for more info.

08:42:26
Oct 08, 2018 8:42:26 AM com.hazelcast.instance.AddressPicker

08:42:26
INFO: [LOCAL] [3.5.20-SNAPSHOT-hazelcast-v3-admin] [3.10] Interfaces is enabled, trying to pick

[2018-10-15 11:02] leszko commented on #77
Hi @philmath-pea @markathomas , I double checked Hazelcast on AWS ECS and it seems to work correctly. I even created a code sample here: https://github.com/leszko/hazelcast-code-samples/tree/aws-ecs/hazelcast-integration/aws-ecs. Please have a look and check if it works for you. I'll publish it as a Blog Post as well.

As of your configurations, I'm not sure why they don't work. It may be a matter

[2018-10-15 12:50] philmath-pea commented on #77
thank you @leszko I will check it out and let you know how it goes.

[2018-10-15 13:36] leszko commented on #77
@markathomas , yes, but the value of `hazelcast.local.publicAddress` will differ depending on the EC2 Instance it's running on. Do you have any method to set it dynamically?

[2018-10-15 14:35] markathomas commented on #77
@leszko I query the EC2 metadata at `http://169.254.169.254/latest/meta-data/local-ipv4` for the Docker host IP and use that + port for `hazelcast.local.publicAddress`.  That IP won't change as long as the host is running.

[2018-10-15 14:41] markathomas commented on #77
For public address for WAN config you can query `http://169.254.169.254/latest/meta-data/public-ipv4`

[2018-10-16 13:57] philmath-pea commented on #77
@leszko looks like I'm getting closer.. with your exact config I'm seeing this error. I think it's probably b/c the node is reporting the internal docker ip instead of the host IP all though host networking is still enabled on the ECS task.

[code]

[2018-10-16 14:03] leszko commented on #77
@philmath-pea Have you set the network as "host"?

[2018-10-16 14:14] philmath-pea commented on #77
Yep, my old config was reporting the host IP

[code]

[2018-10-16 20:06] philmath-pea commented on #77
not sure what I did but.. wooohoo seems like it's working. thanks for all your help. @leszko

[code]

[2018-10-16 21:42] markathomas commented on #77
@philmath-pea could you share your config so others can benefit in the future?

[2018-10-17 14:43] philmath-pea commented on #77
the configuration @leszko posted here is what worked for me: https://github.com/leszko/hazelcast-code-samples/tree/aws-ecs/hazelcast-integration/aws-ecs

the main issue I had with making that work is I had left (from a previous config attempt) the AWS key/secret in the config
[code]
not sure why but until I removed that Hazelcast reported the internal docker IP, not the host IP and could not creat

[2018-10-18 06:49] leszko commented on #77
Great. I'm super happy it worked for you @philmath-pea .

I'll also try to make a Blog Post on that, so that it's simpler to set up in the future. Closing the issue. Please feel free to reopen if needed.

[2018-10-18 06:49] #77 closed

[2018-10-22 14:21] nordri opened #86 "Fargate support"
Hi,

I'm trying to deploy Hazelcast cluster on AWS Fargate but I couldn't find any documentation about the process...
Does Hazelcast suport Fargate or it only supports ECS?

All the best!

[2018-10-22 14:31] mesutcelik commented on #86
Hi @nordri,

Thanks for the heads up!

Hazelcast only supports for ECS for the time being. However, we see an interest in Fargate too so we definitely consider supporting it.

[2018-10-22 14:42] nordri commented on #86
Thanks for the quick response!
OK!

[2018-10-22 19:04] mesutcelik commented on #86
Lets keep it open to make it more visible.

[2018-10-30 13:22] masterjg commented on #86
We also need Fargate support. Cyclos is using hazelcast to support multiple nodes. Right now we are forced  to use only single node of Cyclos in production :(

[2018-11-13 17:10] jorgeuriarte commented on #86
Yup, easy cluster discovery in Fargate would be a killer... is there any active work on this?
Any workaround we could try/check?

[2018-11-17 19:57] PabloLosky commented on #86
My project is using vertx nodes on a Fargate cluster... is there other options I can use to cluster this verticles ?

[2018-11-30 10:11] leszko commented on #84
Is it still an issue?

To me it looks like you're using an old version of the `hazelcast-aws` plugin. Could you try with the latest versions?
- `hazelcast:3.11`
- `hazelcast-aws:2.3`

[2018-11-30 15:20] leszko commented on #81
@tom-hazelcast are you still working on this issue?

[2018-11-30 15:24] #74 closed, assigned to nobody

[2018-12-03 16:12] alucarpd86 commented on #86
i'm also interested in hazelcast support for Fargate! any news?

[2018-12-31 15:12] neilstevenson commented on #81
The guide (`Hazelcast_IMDG_Amazon_EC2_Deployment_Guide_SPOT_Letter_v2.3.pdf`) still mentions R3

R3 is no longer available

AWS have moved on to R4 and now R5 - https://aws.amazon.com/ec2/instance-types/#Memory_Optimized

[2019-01-02 12:49] mesutcelik commented on #81
@neilstevenson Did you check with @7erry ? He is the one who is maintaining that document.

[2019-01-02 13:13] neilstevenson commented on #81
It should be the issue owner who chases along shouldn't it ?  I only raised it

[2019-01-10 21:12] mesutcelik commented on #86
Hi,

I have tried to deploy Hazelcast with **_Container (Local) Networking_** mentioned in this [blog post](https://aws.amazon.com/blogs/compute/task-networking-in-aws-fargate/) and it works as expected. However, it is not recommended to use hazelcast in such topology.

What you have to do is to :

1. create fargate cluster
2. create fargate task with multiple containers in it like hazelcast1,haze

[2019-02-04 12:51] mesutcelik opened #91 "Compile Error with Hazelcast 3.12-SNAPSHOT"
There is a breaking change coming with that [PR](https://github.com/hazelcast/hazelcast/pull/14262)
A new hazelcast-aws needs to be release together with 3.12-BETA and onwards...

http://jenkins.hazelcast.com/view/Plugins/job/AWS-master/14/consoleFull

[code]

[2019-02-28 15:01] #91 closed

[2019-04-13 14:31] darkredz commented on #86
interested in hazelcast support for Fargate! Hopefully something will be up

[2019-04-15 09:57] googlielmo commented on #86
@darkredz I actually started implementation of Fargate support, which is based on External Networking. I'll open a PR as soon as it's ready for review. HTH :-)

[2019-04-17 14:47] googlielmo commented on #86
@masterjg We'll probably have a first PR by next week, so I'd say 2-3 weeks :)

[2019-04-18 18:38] cwitte4191 opened #94 "setSecurityGroupName() not working as expected."
TLDR: setSecurityGroupName() completely prevents the cluster from identifying eligible peers.

With several ec2 instances running on the same region (but in different security groups), the cluster correctly discovers itself within the limitations of the VPC(s).  However, with this configuration, each ec2 instance attempts to connect to instances in foreign security groups that it can't (and should

[2019-04-19 09:57] mesutcelik commented on #94
Hi @cwitte4191 ,
I didn't know such an issue.

What is the main reason you set the security group name although you have multiple security groups in your VPC?
Can you please also share your hazelcast configuration and version of hazelcast?

As you described, CLI documentation mentions this as EC2-Classic only but hazelcast-aws does not use CLI but query directly the REST API.

Any more info would

[2019-04-20 18:01] cwitte4191 commented on #94
I tried filtering on tags instead of security group, and that isn't working right now either.  I'll troubleshoot it a little more to see what i can turn up.

[2019-04-23 08:57] leszko commented on #94
@cwitte4191 , tags should work, I checked it some time ago. Could you share your AWS EC2 instances tags and your Hazelcast configuration? Then, I could help.

[2019-04-26 19:27] urs-ikentoo-com commented on #86
We are using a custom discovery strategy:
https://github.com/iKentoo/hazelcast-aws-ecs
You can give it a spin using jitpack:
https://jitpack.io/#iKentoo/hazelcast-aws-ecs

[2019-05-14 07:48] googlielmo commented on #84
Closing for inactivity. Please feel free to open issue again if needed.

[2019-05-14 07:48] #84 closed

[2019-05-27 11:05] leszko opened #96 "Update README.md to use YAML instead of XML"

[2019-05-31 09:40] googlielmo opened #97 "dynamic configuration of host header and region parameters"
In certain circumstances (e.g., Hazelcast cluster member using discovery, probably NOT clients) the `hostheader` and `region` can be detected automatically.

[2019-05-31 09:42] googlielmo opened #98 "ZONE_AWARE on ECS / Fargate"
The ZONE_AWARE feature is not supported at the moment.
On Fargate a subnet identifies implicitly an availability zone, consider using this information to implement this.

[2019-06-04 14:04] pritam620 opened #101 "Stackoverflow in TcpIpJoinerOverAws"
We are seeing some StackOverflowError in our docker application with hazelcast while running in ECS with the following versions
* hazelcast 3.8.6
* hazelcast-aws 2.0.1

[code]

[2019-06-16 21:22] asakchris commented on #86
We are using client-server topology. Hazalcast server cluster members are setup in EC2 instances and AwsDiscoveryStrategy is used to identify cluster members. Some Hazelcast client runs in EC2 instances and it uses AwsDiscoveryStrategy to idenitfy Hazalcast cluster members and it works fine. Now I am trying to setup and application in ECS Fargate cluster and used AwsDiscoveryStrategy to identify H

[2019-06-17 16:05] googlielmo commented on #86
Hi @asakchris
The upcoming ECS support PR is designed to address the discovery of Hazelcast member instances running on ECS. For client-server topology, the clients can be located either on ECS or outside of it (provided the appropriate networking security policies are in place).
That said, I don't see any problem for client applications running on ECS to discover servers running on EC2 instances

[2019-06-17 21:10] asakchris commented on #86
Hi @googlielmo
Below is the configuration used in client running in ECS to discover Hazelcast server cluster members. It is not working.
`
    <network>
        <connection-attempt-period>60000</connection-attempt-period>
        <connection-attempt-limit>2147483647</connection-attempt-limit>
        <discovery-strategies>
            <discovery-strategy enabled="true" class="com.hazelcast.aws.Aws

[2019-06-18 08:12] googlielmo commented on #86
Hi @asakchris

Are you talking about the unmerged PR #95?

I ask because this issue is all about _adding_ ECS support to the current AWS plugin. At the moment ECS is not supported outside of some simple scenarios.

We are aware of the different metadata APIs on ECS / Fargate and are going to implement a different discovery strategy in the PR above.

See also @mesutcelik's comment above (https://gi

[2019-06-19 06:53] mesutcelik commented on #101
Hi, Can you give more info about your configuration?
You can also go through that code sample and compare it to your environemnt.
https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/aws-ecs

[2019-07-02 17:20] mhp0rtal opened #102 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/com/hazelcast/aws/security/EC2RequestSigner.java: Line number => 114: API name => SecretKeySpec:<BR> File name => src/main/java/com/hazelcast/aws/security/EC2RequestSigner.java: Line number => 104: API name => SecretKeySpec:<BR> File name => src/main/java/com/hazelcast/aws/security/EC2RequestSigner.java: Line nu

[2019-07-15 17:43] Goinidias commented on #86
Far enough along to have a sense of when when PR #95 will be ready?

[2019-07-16 13:02] yozank opened #103 "Read timeout for AWS endpoints"
We set connection timeouts for the initial connection to AWS endpoints ([here](https://github.com/hazelcast/hazelcast-aws/blob/740e233aa49662e4385d42da3af57c3d9c00bb35/src/main/java/com/hazelcast/aws/impl/DescribeInstances.java#L289) and [here](https://github.com/hazelcast/hazelcast-aws/blob/740e233aa49662e4385d42da3af57c3d9c00bb35/src/main/java/com/hazelcast/aws/utility/MetadataUtil.java#L69)).

[2019-07-20 09:54] googlielmo commented on #86
Hi @Goinidias! We don't really know at the moment to be honest, we were busy with some other things and we're still collecting and considering requirements and suggestions from the community (anyone with comments or suggestions etc. please step forward). "Shouldn't take long" has become a cliché in software development, so I'll avoid it :-)

Cheers,
Guglielmo

[2019-08-01 21:20] Finfox2019 opened #104 "AWS ECS takes 5 minutes(300 seconds) to find members"
I am running a Vert.x with Hazelcast **3.10.5** (default) on AWS ECS using hazelcast-aws plugin **2.2**. For old hazelcast version (**3.8**) and plugin **2.1.0**, it worked fine, but with new hazelcast version, it took 5 minutes (300 seconds) to find other members. Locally, it can immediately join other members.

- Here is configuration xml file
[code]

- Here is log
[code]
As you can see, 5 minut

[2019-09-18 18:23] asakchris commented on #86
Hi @googlielmo

I didn't find description of PR [#95](https://github.com/hazelcast/hazelcast-aws/pull/95).

Hazelcast client applications running on ECS Fargate is not able to discover Hazelcast servers running on EC2 instances using tags. See [(#86 (comment))](https://github.com/hazelcast/hazelcast-aws/issues/86#issuecomment-502852241) for configuration and exception trace.

Below is the task rol

[2019-09-27 08:53] leszko opened #107 "Reduce the default number of retries to 3 and add error logging"

[2019-09-27 09:49] leszko opened #108 "Print an error message in case of wrong region"
Currently, if you specify `<region>eu-central-1a</region>` (zone instead of region), then it fails without any error message. That is very hard to debug.

We should detect such situation and print a comprehensive message to the user.

[2019-09-30 16:04] googlielmo commented on #86
Hi @asakchris indeed it looks like a different issue (this one is more about adding support for Hazelcast clusters running on ECS, not clients). It would be good to open a separate issue so that we can track it separately. Also, please specify exact version of Hazelcast and AWS plugin. Thanks!

[2019-10-17 14:14] asakchris commented on #86
Thank you @googlielmo I will open new issue.

[2019-10-25 16:03] a-mueller opened #111 "Deprecated ClientAwsConfig"
ClientAwsConfig is deprecated but ClientConfig still requires it.

[2019-11-14 12:35] mesutcelik commented on #111
`ClientAwsConfig` was removed in Hazelcast 4.0 but you can still use `AWSConfig`.
[code]

The only diff between ClientAwsConfig and AWSConfig was `inside-aws` flag but I think you can use `.setProperty("use-public-ip", "false");` if you need that parameter.

@leszko had worked on that lately so he can give more insight on the change.

[2019-12-09 09:42] lmnzr opened #116 "Hazelcast In ECS Couldn't connect to the AWS service"
Okay so I tried to follow exactly written in

https://hazelcast.com/blog/how-to-set-up-hazelcast-imdg-on-aws-ecs/

Still I keep getting this error ?
com.hazelcast.aws.utility.RetryUtils : Couldn't connect to the AWS service, [1] retrying in 1 seconds...

My cluster doesn't seems able to found each other.

Can anyone give me a tips on what should I improve to make the cluster works?

[2019-12-09 10:28] leszko commented on #116
@lmnzr If you wait some more time, do you get any stracktrace with the exception?

If not, then please change the parameter `<connection-retries>0</connection-retries>`. When set to `0`, you should see some stacktrace in the logs. That could give a hint what's wrong.

[2019-12-10 03:50] lmnzr commented on #116
It is working now, I just downgrading the Hazelcast  to v 3.8. I don't know if there is any missing setup or whatever make it different  from the newer version.

[2019-12-10 03:50] #116 closed

[2020-01-03 16:28] msidd opened #117 "Target Tracking Scaling Policy"
It is more of a question than issue.
i am trying to understand why 'step based scaling' is recommended way for hazelcast autoscaling and why Target Tracking Scaling Policy (which are very simple to configure ) are not recommended

[2020-01-07 07:32] leszko commented on #117
Do they support custom lifecycle hooks? That may be the reason. You need to make sure that the data is not lost, so the instances need to be terminated gracefully. You can check the related blog post: https://hazelcast.com/blog/aws-auto-scaling-with-hazelcast/

[2020-01-08 13:09] SushmaReddyLoka commented on #104
Hi ,
    I faced similar issue. When i used tag key and value instead of security group discovery is taking more time.
So is it expected that discovery takes time without security group setting and just using tag key and value ?

[2020-01-09 10:28] leszko commented on #111
Closing because of inactivity. Please reopen if needed.

[2020-01-09 10:28] #111 closed

[2020-01-09 10:30] leszko commented on #101
Closing due to inactivity. Please reopen if needed.

[2020-01-09 10:30] #101 closed

[2020-01-09 10:34] leszko commented on #81
@mesutcelik have you sorted it out? Can we close this issue?

[2020-01-10 08:12] mesutcelik commented on #81
I think we can close it. I am sure @tom-hazelcast has already worked on it but as I mentioned, we are not tracking DevOps guide issues here.

[2020-01-10 08:12] #81 closed

[2020-01-13 15:05] #83 closed

[2020-01-13 15:32] idogal opened #119 "Readme instructs to config using Join mechanism instead the Discovery SPI"
Hi,

Commit 925285cfdf621ddb8f65c1857d7b9a24bb9f16d8
reverted the readme back to instruct using the Join mechanism as before commit  2cfc2520089701c4eb7796e306e6728874cdc1e0.

I wonder what is the reason for that, and what is currently the best practice for that.

I upgraded the AWS plugin from 1.1 to 2.4 and have had problems with the Join mechanism, that seem to be solved when configuring with t

[2020-01-13 15:34] alparslanavci commented on #107
@leszko, there is an existing error logging in `RetryUtils`: https://github.com/alparslanavci/hazelcast-aws/blob/master/src/main/java/com/hazelcast/aws/utility/RetryUtils.java#L59

Do you mean anywhere else?

[2020-01-13 15:48] leszko commented on #119
Thanks for asking the question @idogal This is actually a very good question.

So, the long story short:
- First, there was `<aws>` mechanism
- It became deprecated, because we developed `<discovery-strategy>` which were better
- The old `<aws>` mechanism was finally removed and the `<discovery-strategy>` is not aliased with `<aws>`.

So now, technically using `<aws>` is exactly the same as using

[2020-01-13 15:51] leszko commented on #107
The behavior should be that in case of an error, calls to AWS REST API are retries 3 times and then the error from AWS REST API is printed to the user. If you checked that's the behavior, then that's all we need :)

[2020-01-13 16:01] idogal commented on #119
@leszko Thanks!

Since which version did you drop the old `aws` mechanism? Thanks

[2020-01-13 16:05] alparslanavci commented on #107
Yes, it is escalating the error from AWS REST API to the user at the end of retries. I will update the default with a commit. Closing this issue now.

[2020-01-13 16:05] #107 closed

[2020-01-13 16:08] alparslanavci commented on #107
See https://github.com/hazelcast/hazelcast-aws/commit/490bc3b9fdde5a77c60fa0dadf45c46d47246917 for the fix.

[2020-01-13 16:13] leszko commented on #119
Since `2.4` (and Hazelcast `3.12`). But check also the compatibility notes at the beginning of the README. The version of `hazelcast-aws` needs to be compatible with the `hazelcast` version.

[2020-01-13 16:22] #119 closed

[2020-01-13 16:24] msidd commented on #117
@leszko Thanks for response
Target based scaling supports lifecycle hooks.I saw your blog post before posting here. If graceful shutdown is the only requirements  (with lifecycle hooks ) it can be implemented in target based auto scaling as well

[2020-01-15 12:01] alparslanavci commented on #104
Hi @Finfox2019 and @SushmaReddyLoka, do you have any reproducers for the issue? If so, can you please share it?

[2020-01-15 17:22] idogal opened #120 "Connections "randomally" being added/removed, eventually removed from members list, with an explicit port range config"
I'm deploying an application on AWS EC2 servers. The application worked properly with 3.9.1 and Hazelcast-aws 1.1. After upgrading to 3.12.5 + 2.4 with the same Hazelcast configuration, I'm having problems. A cluster forms but the nodes disconnect after a few minutes. This Hazelcast configuration  uses the default `hz-port` values and the default (_true_) `auto-increment` value.

The log shows fol

[2020-01-17 11:21] alparslanavci commented on #120
Hi @idogal, this issue is most likely not related to `hazelcast-aws` module since the module only helps to discover the available members. After the connection is set up, it is managed by Hazelcast itself, not `hazelcast-aws`. To understand the root cause of the issue, we need full regular logs from all members when the disconnection happens.

[2020-01-20 14:34] #96 closed

[2020-01-20 16:16] idogal commented on #120
Thanks @alparslanavci . I checked the following scenarios:

- `<port auto-increment="true" port-count="10">5701</port>` & `<property name="hz-port">5701</property>` - works.
- `<port auto-increment="true" port-count="10">5701</port>` & `<property name="hz-port">5701-5711</property>` - fails.
- `<port auto-increment="true" port-count="10">5701</port>` & `<property name="hz-port">5701-5711</property

[2020-02-04 11:23] hasancelik commented on #103
Small hints and starting points for first time contributors,

- As mentioned above comment, `connectionReadTimeout` value should be configurable via Hazelcast [config files or java-based](https://github.com/hazelcast/hazelcast-aws/blob/master/README.md#configuration), so you need to add new configuration parameter into [AWSConfig](https://github.com/hazelcast/hazelcast-aws/blob/master/src/main/jav

[2020-02-04 18:42] idogal commented on #120
If I use the following configuration, the cluster works properly.

[code]

[2020-02-04 18:42] #120 closed

[2020-02-10 12:57] lucas-svieira commented on #108
Hello everyone!

I think I might take a stab at it as my first contribution. Is this okay?

[2020-02-10 13:02] leszko commented on #108
Sounds perfect @lucas-svieira ! I assigned you to this GH issue. Thanks!

[2020-02-10 13:21] leszko commented on #108
Just a few guidelines from my side :)

1. You can add a method like `validateRegion(region)` somewhere [here](https://github.com/hazelcast/hazelcast-aws/blob/master/src/main/java/com/hazelcast/aws/AwsDiscoveryStrategy.java#L99)

2. It does not need to be super smart, but I'd rather not hardcode AWS Regions/Zones, because AWS may add new regions. You can check e.g. maybe all regions end with a "-<d

[2020-02-10 13:58] lucas-svieira commented on #108
Sure thing!

Are there any contribution guidelines I should follow? Just so the PR process goes smoothly!

[2020-02-10 14:03] leszko commented on #108
Not really, before merging you'll need to sign this: https://hazelcast.atlassian.net/wiki/spaces/COM/pages/6357071/Hazelcast+Contributor+Agreement

Your change should be compatible with 1.8+. So you can use any JDK 8 (or later, but make sure it compiles with JDK 8).

[2020-02-14 07:36] #108 closed

[2020-02-14 13:31] peterjot commented on #103
After discussion with @Holmistr, I would like to take this issue. Could you please assign it to me?

[2020-02-14 13:38] hasancelik commented on #103
Sounds perfect @peterjot, I have assigned you to this GH issue 👍

[2020-02-21 10:59] #103 closed

[2020-02-25 19:03] pivovarit opened #128 "Hide internal classes from the public"
For now, most internal classes are public and maintaining backcompat restricts the scope of changes that we can make which might result in a lot of unwanted mess in the future.

This is how it looks now:

<img width="335" alt="image" src="https://user-images.githubusercontent.com/2182533/75277801-00d30200-5809-11ea-9705-7bd9def7bee0.png">

Technically, noone should ever depend on them since it's n

[2020-02-27 10:46] pivovarit opened #141 "Fix flaky RetryUtilsTest.retryRetriesWaitExponentialBackoff"

[2020-03-19 11:43] mesutcelik commented on #62
@pivovarit @leszko Has that improved lately? Are you considering that while working on Fargate support?

[2020-03-19 11:48] leszko commented on #62
Yeah, I'll look into that while working on the Fargate integration.

[2020-04-22 10:18] leszko commented on #141
Fixed during refactoring

[2020-04-22 10:18] #141 closed

[2020-04-22 10:18] leszko commented on #128
Fixed during refactoring

[2020-04-22 10:18] #128 closed

[2020-04-27 10:16] #86 closed

[2020-04-27 10:16] #97 closed

[2020-04-27 10:16] #98 closed

[2020-05-09 22:22] jpadilladev opened #174 "AWS ECS Fargate throws "Unable to lookup role in URI""
Hi,

I am trying to run a Spring Boot 2 application on AWS, using ECS along with Fargate. I´ve been following the readme file, and added the default configuration so it uses the Task Role with the specified permissions.

This is my Java configuration
[code]

When deployed to AWS, it throws the following exception:

[code]

Is this because the Fargate Metadata endpoint may be different? See [this ]

[2020-05-11 06:57] leszko commented on #174
Do you build `hazelcast-aws` dependency by yourself? The Fargate support was not released yet. It will be released in `hazelcast-aws` version [3.2](https://github.com/hazelcast/hazelcast-aws/milestone/10).

[2020-05-11 19:57] jpadilladev commented on #174
I thought v3.1 had ECS Fargate support already, it was explained on the readme...

Anyway, I built locally v3.2 and deployed it, and it works smoothly now.

Is it v3.2 to be released anytime soon?

Thanks

[2020-05-12 04:29] leszko commented on #174
Yes, it will be released in a week or two.

[2020-05-12 04:38] tulans commented on #174
which configuration needs to be part of cluster.xml to enable ECS Fargate support ?.

<aws enabled="false">
                <iam-role>Pro...</iam-role>
                <region>ap-south-1</region>
                <security-group-name>m_cmn_ap</security-group-name>
                <tag-key>App</tag-key>
                <tag-value>m_cmn_common</tag-value>
</aws>
or
<discovery-strategies>

[2020-05-12 08:32] pivovarit commented on #174
Fargate support will be properly covered once released

[2020-05-12 16:42] jpadilladev commented on #174
@tulans Using the default configuration on the readme will use the task role and will search for cluster members on the current aws cluster.
It worked for me just with the following (and some IAM role privileges tunning)

[code]

This is solved with v3.2, so I will close the issue.
Thanks.

[2020-05-12 16:42] #174 closed

[2020-05-15 21:36] pivovarit opened #175 "Fargate discovery doesn't work properly under Quarkus and GraalVM"
If you try running Fargate autodiscovery in Quarkus' native mode, you end up with a cryptic stacktrace:

[code]

which can be later traced to be caused by `java.net.HttpURLConnection.getResponseCode` called by the internal HTTP client.

[2020-07-15 10:44] bmageshvec opened #181 "Fargate throws SocketException while starting the spring boot application instance"
We are using below  hazelcast.yaml configuration

**hazelcast.yaml#**

hazelcast:
  network:
    join:
      multicast:
        enabled: false
      aws:
        enabled: true
	  tcp-ip:
        enabled: false
    interfaces:
      enabled: true
      interfaces:
        - 10.0.*.*

**Gradle Depenencies#**
compile group: 'com.hazelcast', name: 'hazelcast', version: '4.0.2'
compile group: 'com.haze

[2020-07-15 11:19] leszko commented on #181
@bmageshvec did you enable port 5701 in the security group?

[2020-07-15 11:44] bmageshvec commented on #181
@leszko  Thanks  for  your reply
We have opened the  port range 5700 - 5800  in our  inbound rules for the security group

![image](https://user-images.githubusercontent.com/4331928/87541151-6e030900-c6be-11ea-8cd9-9ebdf182c4a4.png)

[2020-07-15 12:03] leszko commented on #181
Could you try to follow these resources?

- https://hazelcast.com/blog/how-to-set-up-hazelcast-imdg-on-aws-ecs/
- https://github.com/hazelcast-guides/hazelcast-embedded-ecs

[2020-07-15 12:29] bmageshvec commented on #181
Thanks @leszko for  your  swift reply  will try  this  suggestions  and update

[2020-07-15 14:07] bmageshvec commented on #181
@leszko
As per the documentation
"**Note that you need to change 10.0.*.* to the VPC you plan to use for your ECS Tasks. To list all your available VPCs, execute the following command.** our CIDR block is CIDR vpc-**10.0.0.0/16**
With below configuration

hazelcast:
  network:
    interfaces:
      enabled: true
      interfaces:
        - 10.0.0.0
We are getting    below error :
**java.lang.Runti

[2020-07-15 14:14] leszko commented on #181
Check your VPC interface. If its addresses starts from `10.0`, then use `10.0.*.*` for the interfaces (but not `10.0.0.0`, because then it really can't find such interface).

[2020-07-15 16:28] bmageshvec commented on #181
@leszko
While booting (starting the spring boot appplication)  in below logs  we can see  iamRole,  securityGroupName as  null   but  it  should  **print  the associated  IAM Role  and security group name is  our  understanding correct**

com.hazelcast.aws.AwsDiscoveryStrategy : Using AWS discovery plugin with configuration: AwsConfig{accessKey='***', secretKey='***', **iamRole='null', region='nul

[2020-07-16 07:56] leszko commented on #181
The logs are about the configuration you provided. For example, if you don't specify `securityGroupName`, then it's null in the configuration and therefore taken from the task definition. So the logs look good to me.

Have you walked through the links I've sent?

[2020-07-16 08:35] bmageshvec commented on #181
Yes @leszko  I have walked through t links its  really exhaustive  and provides all information to  begin with hazel cast journey :-)

[2020-07-16 08:35] #181 closed

[2020-07-21 07:35] feanor07 commented on #94
@cwitte4191 seems right about `security-group-name` filter not working for EC2s within within a VPC (non EC2-Classic instances). Check out the following dummy application and corresponding documentation illustrating the case https://github.com/feanor07/aws-describe-instances

I will try to create another project with `hazelcast` in action; but if I am not mistaken this proves @cwitte4191 's claim.

[2020-07-21 21:42] feanor07 commented on #94
please ignore my previous comment as it has nothing to do with how `hazelcast-aws` works indeed. just understood what @mesutcelik mentioned at https://github.com/hazelcast/hazelcast-aws/issues/94#issuecomment-484835201

anyway I did some testing today and created the following repo https://github.com/feanor07/hazelcast-aws-discovery
in that repo I used the dependency `hazelcast-all` as suggested i

[2020-07-21 21:47] feanor07 commented on #69
I tested and used `aws elastic beanstalk` via deploying a relatively simple application. It worked fine. One thing I need to mention is that you need to ensure security groups you use allow inbound traffic for ports hazelcast is relying on.

[2020-07-22 02:01] mesutcelik commented on #69
@feanor07 Tesekkurler!

It would be useful for others if you share you codesample on github so that other people can benefit from it.
The other option is to write a guide that will be hosted by hazelcast but not sure how to automate integration testing with Elasticbeanstalk to check the validity of the guide over time.

https://github.com/hazelcast-guides/base-guide/wiki/How-to-write-a-guide

[2020-07-22 09:23] leszko commented on #94
Thanks for the explanation @feanor07

Closing this issue as it seems there is no problem with the current version.

[2020-07-22 09:23] #94 closed

[2020-07-22 14:27] feanor07 commented on #69
@mesutcelik planning on writing a small how-to article if I find some time soon. I will post it to here when I am don 🤞

[2020-08-04 04:19] diegojunior opened #192 "Question: Hazelcast Client on Aws ECS bridge mode"
Hi everyone,

I have a topology with embedded hazelcast (server) and applications (client) that get key/value on hazelcast.
I would like to know if the client of applications on AWS ECS/EC2 (not forgate) run on bridge mode?

Thanks!

[2020-08-04 11:33] leszko commented on #192
@diegojunior yes, check out the following resources:
- [Hazelcast AWS Documentation: ECS Configuration](https://github.com/hazelcast/hazelcast-aws#ecsfargate-configuration)
- [How to set up Hazelcast on AWS ECS](https://hazelcast.com/blog/how-to-set-up-hazelcast-imdg-on-aws-ecs/)

[2020-08-04 15:24] pivovarit commented on #175
I believe this _fixed itself_ when one of the newer GraalVM releases showed up.

[2020-08-04 15:24] #175 closed

[2020-08-18 13:00] jklingsporn commented on #69
@feanor07 If you have the time, can you please explain to me how you did it (just some bullet points)? Like any deviations from the default configuration? I am trying to configure it defining an IAM-role and using tags. I've also setup the security groups to allow any TCP communication on any port and provided the IAM-role with the necessary EC2-permissions but without luck. Your help would be rea

[2020-08-25 13:15] jklingsporn commented on #69
Just a quick update: when I disable aws-discovery for the nodes that are lite-members and enable tcp-id with a fixed ip, everything works like a charm.

[2020-09-01 15:43] avisecag opened #197 "InvalidConfigurationException: Unknown properties: '[host-reader]' on discovery strategy"
I have been using hazelcast-aws 2.1 for a couple years now to discover cluster instances running on elastic beanstalk. Time has come to update spring-boot, and so we now have hazelcast 3.12.8 running in there, which forced me to update to hazelcast-aws 2.4.
However, when deploying the application to elastic beanstalk, it won't start, because Hazelcast throws an exception during initialisation, whi

[2020-09-02 07:49] leszko commented on #197
What is your `host-reader` value, can you maybe just remove it?

[2020-09-02 07:55] avisecag commented on #197
Ah, sorry, should have supplied that right away (though the error gave the impression that hazelcast was not happy about the key, not its value). The value I'm passing to the host-reader is "ec2.amazonaws.com".

I tried just now to simply remove the property, and the application now starts, but it doesn't discover any other instances, although there should be one in the cluster. I'm digging throug

[2020-09-02 07:57] leszko commented on #197
The parameter is actually called `host-header`. I don't remember renaming it from `host-reader`. In any case, you should not need it,  because `ec2.amazonaws.com` is automatically resolved.

[2020-09-02 08:07] avisecag commented on #197
Huh... I didn't even notice that when looking at the documentation yesterday. Could have sworn it said host-reader in there. I guess It's possible that the property never actually did anything in my code and the new version of hazelcast is just more vocal about invalid keys being passed to its configuration... :facepalm:
Thanks a lot for your prompt help. Now I need to figure out why the instances

[2020-09-02 08:07] #197 closed

[2020-09-15 15:29] leszko commented on #192
Closing due to inactivity

[2020-09-15 15:29] #192 closed

[2020-09-16 10:31] #62 closed

[2020-09-17 12:37] jklingsporn commented on #69
@feanor07 our configuration has some issues regarding resilience. Let's say AWS decides to replace our only know instance with another machine, our whole cluster will die. Also, when we have to reboot the known cluster-member we have to reboot all other nodes as well in order to have a working cluster.

[2020-09-18 09:33] daroga0002 opened #202 "multiple aws tags"
Does there is possibility to user multiple AWS tags for discovery process?

In huge scale where we have multiple `customer` environments shared across one VPC  (seperate ECS clusters) mixed with multiple other EC2 instances it is hard to define one particular tag for filtering.

For example we using following tagging schema for ECS cluster:
[code]

on the end none of this tag is exclusive. Current

[2020-09-18 11:59] leszko commented on #202
Currently, it's not possible to use multiple tags. But I like this feature. We could have tags separated by a comma and then take them with AND condition.
[code]

Feel free to submit a PR if you want to contribute.

[2020-09-22 07:00] daroga0002 commented on #202
Unfortunately I am not developer so I will be not able to create PR for this, but maybe somebody from community will use this idea

[2020-09-28 13:31] leszko commented on #117
@msidd can we close this issue?

[2020-09-28 13:32] leszko commented on #78
So, the steps to resolve this issue are:
- check if discovery works via proxy
- document it in README

[2020-10-01 09:35] ssi-hu-miklos-kosarkar opened #204 "Hazelcast client auto discovery in AWS Fargate"
Hi,

I have a question about hazelcast-client setup in aws fargate.
It's not clear to me if my cluster has to have public ip or not even if my client is inside aws.

[code]

This exception message was logged at some point: Failed to configure discovery strategies.

Maybe my understanding of a client is wrong.

I don't want to have public ip for the hazelcast cluster.
Can the client use auto discov

[2020-10-01 11:47] leszko commented on #204
@ssi-hu-miklos-kosarkar you should be able to use hazelcast-client in the exactly the same way as the Hazelcast members discovery. Please check [How to set up Hazelcast on AWS ECS](https://hazelcast.com/blog/how-to-set-up-hazelcast-imdg-on-aws-ecs/) for details.

If you get any issues, please send more details. You can enable debug logs and paste it here.

[2020-10-01 12:27] ssi-hu-miklos-kosarkar commented on #204
`security-group-name` seems to be the issue.
In the server side it does nothing but in case of the client it caused problems.

[2020-10-01 12:27] #204 closed

[2020-10-04 20:44] neilstevenson commented on #104
Related ? https://stackoverflow.com/questions/64162995/vertx-hazelcast-cluster-member-on-aws-takes-10-minutes-to-join-cluster-and-somet

[2020-10-08 17:57] laki88 opened #205 "hazelcast keep picking 5701 to 5708 ports"
even I put hz-port property in hazel cast configuration it keep picking default ports for starting cluster.

[code]

[2020-10-09 08:46] leszko commented on #205
What version do you use?

[2020-10-09 11:57] leszko opened #206 "Change default hz-port to `5701-5703`"
`5701-5708` seems to wide and causes a lot of timeouts.

Check the same for other plugins:
hazelcast-azure, hazelcast-kubernetes, hazelcast-gcp

[2020-10-09 12:40] leszko commented on #69
@jklingsporn I think you need to change the Deployment policy to `Rolling`. Otherwise, you kill all Hazelcast members at once, and therefore the cluster is down and loses data.

I tested Hazelcast on AWS Elastic Beanstalk and it works correctly. I added a description in this PR: https://github.com/hazelcast/hazelcast-aws/pull/207. It should close this issue. I suggest opening new GH issues with mo

[2020-10-14 07:32] #69 closed

[2020-10-14 10:55] daroga0002 opened #209 "hazelcast not picking java config"
My developers done following code:
[code]

we using "com.hazelcast:hazelcast-all:3.12.9" as dependency so assume we will use legacy v2*  hazelcast-aws plugin.

We setting all values as ENV variables and they are read out by code.

in service logs we got:
[code]

and ini cloudtrail we see:
[code]

so what question is what we are doing wrong that this assuming some defaults??

[2020-10-14 19:34] daroga0002 commented on #209
I found issue, so they created `networkConfig` for which they doing setup but later they using `hazelcastConfig` which doesnt have correct settings.

Closing this issue

[2020-10-14 19:34] #209 closed

[2020-10-19 07:49] invadersmustdie opened #210 "ECS Clients tries to fetch public IPs despite AwsConfig#usePublicIp=false"
Steps to reproduce:
- setup ECS tasks
- do not grant permission for `ec2:DescribeNetworkInterfaces`
- set `AwsConfig#usePublicIp` to `false`

Actual behavior:
- `AwsEcsClient#getAddresses()` tries to resolve public IPs via `awsEc2Api.describeNetworkInterfaces`
- results in retries `Couldn't connect to the AWS service, [3] retrying in 3 seconds` and error `Cannot fetch public IPs of ECS Tasks, only

[2020-10-19 07:52] leszko commented on #210
Which Hazelcast version do you use?

[2020-10-19 08:53] DirkRusche commented on #210
We are using

- com.hazelcast:hazelcast:4.0.2
- com.hazelcast:hazelcast-aws:3.3
- com.hazelcast:hazelcast-spring:4.0.2

[2020-11-06 10:40] leszko commented on #206
Actually we can leave it as it is for now.

[2020-11-06 10:40] #206 closed

[2020-11-09 17:09] trp-trpht40 opened #214 "Handle different iam roles between members"
We are currently running 2 different sets of Hazelcast members that use different IAM roles. The members currently discover each other but once the member from the 2nd group using a different IAM role joins the discovery plugin on the 1st group of members is trying to use the role for the second group as well and failing.

1st member group discovery configuration:
[code]

2nd member group discover

[2020-12-29 13:21] enozcan commented on #210
If use-public-ip is not explicitly set to true, the discovery mechanism still attempts to fetch public IPs if available. The reason is to make external Hazelcast smart clients (if there is any) work as expected (i.e. ask to the partition owner member of a key directly in favor of performance. See the details for smart client [here in Java client section](https://docs.hazelcast.org/docs/latest/manu

[2020-12-29 13:21] #210 closed

[2021-01-17 14:38] enozcan opened #222 "Standalone start warning is logged many times."
It would be enough to log the warning once when starting standalone.

[code]

[2021-01-24 19:32] ajurasz commented on #202
I would like to work on adding multi-tag support to `hazelcast-aws`. After analyzing the code base, I counted three different strategies for filtering EC2 instances using tags combination:

1) `key and value` strategy - filters EC2 instances by tag key and it's value
2) `key` strategy - filters EC2 instances only by tag key (instances where the given tag key is used and ignoring its value)
3) `val

[2021-01-25 08:02] daroga0002 commented on #202
I think scenario 3 is not valid as AWS doesnt allow you create tag without key name (what in general make sense):
![image](https://user-images.githubusercontent.com/20227477/105676791-4d2c3380-5eeb-11eb-8015-63bb62bd1a8d.png)

Also next nice to have enhancement can be adding comparing value against wildcard what also should be beneficial for most of companies.

Some example use case scenario for w

[2021-01-25 10:06] leszko commented on #202
Thanks @ajurasz that you want to take care of this feature! And thanks @daroga0002 for the comments.

So first, I think the approach you described is correct. We exclude point 3 (as commented by @daroga0002). And points 1 and 2 are correct as you described them. We extend the functionality and keep the backward-compatiblity.

Concerning the wildcard `*`, it would be a nice feature as well. Can be

[2021-01-25 21:15] ajurasz commented on #202
@daroga0002  you are right, it's not possible to create tag without the name. What I wanted to express by these scenarios, was to show how can we  **filter** EC2 instances to match provided criteria (`tag-key` and/or `tag-value`).

I did try to limit returned instances from EC2 API while using just `tag-value` and it worked as expected:

[code]

It finds all instances were `tag-value=ValueA` (this

[2021-03-01 08:10] leszko commented on #205
Closing due to inactivity

[2021-03-01 08:10] #205 closed

[2021-03-03 12:03] mtyazici commented on #214
Hello @trp-trpht40,

I tried recreating the issue using two different IAM roles for connecting two clusters and there seems to be no problem. Is the issue still present? If that is the case, could you provide more information?

[2021-03-09 12:54] mtyazici commented on #222
Closing this issue since it is resolved.

[2021-03-09 12:54] #222 closed

[2021-03-09 12:55] mtyazici commented on #202
Closing this issue since it is resolved.

[2021-03-09 12:55] #202 closed

[2021-03-10 13:46] mtyazici commented on #202
Hi @ajurasz ,

Your PR is released in hazelcast-aws:3.4, thanks again for the contribution!

[2021-03-23 21:05] gangadhar01a opened #231 "Auto Discovery for confluence data center not working"
Hi,

I am trying to use AWS role method to auto discover the confluence nodes, I have ensured the role which I have created assigned to the EC2 instance and has required permissions. For role name I have also used entire ARN, however I am getting an error and confluence logs not showing further any information to troubleshoot. I have also ensured the  hazelcast-aws plugin exist in confluence lib p

[2021-03-24 08:39] leszko commented on #231
Are you able to reproduce it without confluence nodes? Could you write the exact steps to reproduce?

[2021-03-24 17:05] gangadhar01a commented on #231
_Are you able to reproduce it without confluence nodes?_: Currently there are no other confluence nodes exist. Initially goal is to create a cluster and then add nodes.

We have an existing standalone confluence instance
step 1) Generated confluence DataCenter license
step 2) Updates the license from server to data center
step 3) Restarted confluence
step 4) Configuring cluster, this routed the pa

[2021-03-24 17:09] gangadhar01a commented on #231
Error message in UI here is misleading, I have selected only defined AWS role. I have also **replaced IAM role name with ARN** which resulted the same error and confluence logs not showing additional information to troubleshoot.

[2021-03-29 23:48] gangadhar01a commented on #231
@leszko Any suggestions on troubleshooting this issue?

[2021-05-17 01:12] jkern888 opened #240 "IMDSv2 support?"
Any plans for adding IMDSv2 support? Details for it at https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html

[2021-05-17 11:50] leszko commented on #240
Thanks for creating the GH Issue. I see the following comment.

Do you see any benefit of switching to v2 for Hazelcast AWS Discovery plugin?

[2021-05-17 13:41] jkern888 commented on #240
It seems to be a security best practice to disable v1 to protect against SSRF attacks

[2021-05-18 04:15] leszko commented on #240
I see, so the use case for this would be to allow users who have disabled v1 on their EC2 instances (for security reasons) to use Hazelcast AWS Discovery. TBH so far nobody asked for this feature, so does not seem like a priority to me, but we can implement it at some point.

Also if you would like to contribute, feel free to send a PR.

[2021-05-19 16:18] jayhartley commented on #240
We are in the process of rolling our own discovery strategy using v2, because our security team has asked everyone to disable v1. The old version is a favorite target for server-side request forgery (SSRF) attacks because it's fundamentally un-authenticated, and can be used to expose lots of details about the AWS security configuration. See this [AWS security blog post from 2019](https://aws.amazo

[2021-05-19 17:42] jkern888 commented on #240
Yea I'm in the same boat @jayhartley. I'll take a look about creating a PR for it, since I believe it's a fairly simple change.

[2021-05-20 08:34] leszko commented on #240
Great, thank you both @jayhartley @jkern888 , your contribution is more than welcome :)

[2021-05-20 16:57] jeanbaptisteguillois opened #242 "Combining ECS/Fargate clusters (for Hazelcast clients) and EC2 Clusters (for Hazelcast cluster members)"
Hello,

I am trying to configure hazelcast in AWS in the following manner.

I have a cluster of Hazelcast members (using hazelcast 3.11) that is running in a **EC2** set of instances (with an autoscaling group). In this cluster, the **Hazelcast members** successfully discover themselves and it works fine.
I have another cluster of **Hazelcast clients** (using hazelcast 3.11 also) that is running i

[2021-05-21 18:31] leszko commented on #242
You need to explicitly fill your Credentials into the Hazelcast Configuration since the scenario of retrieving credentials from IAM Role in Fargate and connecting to EC2 is not supported atm.

[2021-05-27 13:17] jeanbaptisteguillois commented on #242
@leszko thank you, it indeed works well by adding the AWS access keys in the configuration.

[2021-05-27 13:17] #242 closed

[2021-06-07 11:33] dcalde commented on #192
The response didn't answer the question. It wasn't just about ECS, but explicitly about bridge mode.

[2021-12-21 08:49] laurocesar commented on #11
Hi @mhurne and @leszko !

Do we have any news about multiple containers per EC2 Instance in ECS?

I saw that https://github.com/commercehub-oss/hazelcast-discovery-amazon-ecs is not open.

How to run multiple hazelcast containers per EC2 Instance in ECS?

Thanks!

[2021-12-21 13:04] laurocesar opened #259 "Question: Hazelcast Client on Aws ECS bridge mode"
Any news  about Aws ECS in bridge mode?

https://github.com/hazelcast/hazelcast-aws/issues/192#issuecomment-668542956

https://github.com/hazelcast/hazelcast-aws/issues/11

[2021-12-26 19:10] mhurne commented on #11
Hi @laurocesar, I've moved on from working with Hazelcast, so unfortunately I'm not in a position to lend you a hand. But best of luck!

[2022-01-22 10:32] ahoehma commented on #202
Hi all.

what about "OR" ?

I have a scenario where I have two different infrastructures and I would like to run my service on both without breaking backward compatibility. So I need a tag for the old world and tag for the new world ... unfortunately I have only ONE place to define my properties for the service :/

on the "old" infra I would like to keep the tag=values which there existing (foo=ba

[2022-02-07 04:08] nkavian opened #267 "Hazelcast Split-Brain Protection"
Where would be the best places to ask about this Hazelcast AWS plugin supporting Split-Brain Protection in a dynamic way.

If I have an Auto Scaling Group. I'd love Split-Brain Protection to be green if the number of actual instances is greater than or equal to the ASG desired

[2022-02-25 11:27] KostaWT opened #270 "README Update for Documentation"
Hello,

The link to the documentation points to a non existing page:
![image](https://user-images.githubusercontent.com/78849269/155707446-0dc1132d-76aa-4b78-8ad8-5adbc5793b9c.png)
![image](https://user-images.githubusercontent.com/78849269/155707541-485bd7bb-065e-4e1a-9219-8de6ee67b901.png)

[2022-03-10 21:23] bravo11 commented on #240
Any updates to this?

A number of companies are moving to enforce IMDSv2. As far as the mention that nobody has asked for this feature, Can I offer up the 15 users of Confluence impacted by this: https://jira.atlassian.com/browse/CONFSERVER-63193

[2022-03-10 21:47] jkern888 commented on #240
I did end up patching this in locally but it's against the 2.4.x branch so not sure if a PR against that would still be helpful?

[2022-03-10 21:55] bravo11 commented on #240
It looks like our confluence version is using 3.8.x of hazelcast, Well see how things go next week, I may end up patching locally and then submitting a pr, wouldn't mind seeing what you did in the 2.4.x branch if you can link it

[2022-03-11 18:32] jkern888 commented on #240
@bravo11 Was a pretty small change. Made a gist of it here https://gist.github.com/jkern888/6e3b7b8046f60f9cdde0814b1d8bf479